openapi: 3.0.0
info:
  title: Bitpowr Reference Account Market API
  contact: {}
  version: '1.0'
  x-apievangelist-source: reconstructed from docs.bitpowr.com ReadMe per-operation OpenAPI fragments (2026-07-18)
servers:
- url: https://developers.bitpowr.com/api/v1
tags:
- name: Market
paths:
  /market/:
    get:
      tags:
      - Market
      summary: Get market index
      description: This endpoint returns the volatility of a certain asset over a specified period of time. For example, you can get BTC's gain/loss in the last 24 hours.
      operationId: Getmarketindex
      parameters: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/200-Getmarketprice'
              example:
                status: success
                currency: USD
                data:
                - asset: BTC
                  prices:
                    latest: '63537.15687591908'
                    percent_change:
                      day: -0.46263194
                      hour: -0.18100451
                      week: 3.73308738
                      month: -8.43979045
                - asset: ETH
                  prices:
                    latest: '3074.0842404305276'
                    percent_change:
                      day: -1.31910221
                      hour: -0.06704356
                      week: 1.97198583
                      month: -9.8782657
                - asset: USDT
                  prices:
                    latest: '1.000171072431336'
                    percent_change:
                      day: -0.02233595
                      hour: 0.01657875
                      week: 0.05303022
                      month: -0.00186877
                - asset: BNB
                  prices:
                    latest: '591.9785147551733'
                    percent_change:
                      day: 0.14190199
                      hour: 0.02699778
                      week: 4.470641
                      month: 0.55519084
                - asset: SOL
                  prices:
                    latest: '154.45090322801016'
                    percent_change:
                      day: 0.48496241
                      hour: -0.24917345
                      week: 19.77598972
                      month: -15.01432455
                - asset: USDC
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: XRP
                  prices:
                    latest: '0.5378715418900971'
                    percent_change:
                      day: 1.12354114
                      hour: 0.38824198
                      week: 8.1756115
                      month: -10.36502441
                - asset: DOGE
                  prices:
                    latest: '0.1567028276121394'
                    percent_change:
                      day: -1.83658836
                      hour: -0.25827251
                      week: 16.28576209
                      month: -20.74880865
                - asset: TON
                  prices:
                    latest: '5.913432090851722'
                    percent_change:
                      day: -0.76156998
                      hour: 0.07047675
                      week: 13.69039692
                      month: 9.55210418
                - asset: ADA
                  prices:
                    latest: '0.4516966235866229'
                    percent_change:
                      day: -2.10973096
                      hour: 0.33527892
                      week: 4.93756835
                      month: -24.00781655
                - asset: SHIB
                  prices:
                    latest: '0.00002373508528562667'
                    percent_change:
                      day: -3.10186711
                      hour: 0.11290229
                      week: 6.39023188
                      month: -16.29179902
                - asset: AVAX
                  prices:
                    latest: '36.69554577582444'
                    percent_change:
                      day: -3.44345438
                      hour: 0.41952603
                      week: 11.75140887
                      month: -24.59711774
                - asset: TRX
                  prices:
                    latest: '0.12039143292874278'
                    percent_change:
                      day: 0.95649944
                      hour: 0.394312
                      week: 1.70794201
                      month: -0.19460919
                - asset: DOT
                  prices:
                    latest: '7.194925161578649'
                    percent_change:
                      day: -0.4978986
                      hour: 0.29652004
                      week: 15.47792777
                      month: -17.18366608
                - asset: BCH
                  prices:
                    latest: '485.07678787656295'
                    percent_change:
                      day: 3.0414059
                      hour: 0.86723793
                      week: 10.48973742
                      month: -29.36339877
                - asset: LINK
                  prices:
                    latest: '14.502809793319184'
                    percent_change:
                      day: -2.89456532
                      hour: 0.57522517
                      week: 10.2529823
                      month: -18.36808115
                - asset: NEAR
                  prices:
                    latest: '7.580994128545672'
                    percent_change:
                      day: 1.68891476
                      hour: -0.4234544
                      week: 22.04610355
                      month: 8.88240257
                - asset: MATIC
                  prices:
                    latest: '0.708915424394281'
                    percent_change:
                      day: -4.13038798
                      hour: 0.08450516
                      week: 7.08964472
                      month: -22.37144893
                - asset: LTC
                  prices:
                    latest: '82.01815943907245'
                    percent_change:
                      day: 0.60031622
                      hour: 0.23418493
                      week: 3.67961854
                      month: -20.67975521
                - asset: ICP
                  prices:
                    latest: '12.83568446030574'
                    percent_change:
                      day: -3.8100409
                      hour: -0.27567327
                      week: 2.32008079
                      month: -25.56230768
                - asset: LEO
                  prices:
                    latest: '5.7956133207862885'
                    percent_change:
                      day: 0.06428376
                      hour: -0.87891335
                      week: -0.24737108
                      month: 0.10345289
                - asset: DAI
                  prices:
                    latest: '1.0000681897753747'
                    percent_change:
                      day: -0.00563709
                      hour: -0.00797135
                      week: 0.01285051
                      month: 0.01657422
                - asset: UNI
                  prices:
                    latest: '7.542746154704081'
                    percent_change:
                      day: -1.05966413
                      hour: -0.00593168
                      week: 5.39876623
                      month: -33.46587352
                - asset: RNDR
                  prices:
                    latest: '10.58076348253747'
                    percent_change:
                      day: 6.26760891
                      hour: -1.25364049
                      week: 46.96424502
                      month: 8.95446117
                - asset: HBAR
                  prices:
                    latest: '0.11199101785781848'
                    percent_change:
                      day: -2.98903705
                      hour: -0.02821981
                      week: 19.39032352
                      month: 4.85633042
                - asset: ETC
                  prices:
                    latest: '27.231565837844247'
                    percent_change:
                      day: -1.30939006
                      hour: 0.21918944
                      week: 6.3183997
                      month: -20.23747344
                - asset: APT
                  prices:
                    latest: '9.015494925108433'
                    percent_change:
                      day: -2.15159135
                      hour: 0.45137567
                      week: 7.69604511
                      month: -34.35380843
                - asset: FDUSD
                  prices:
                    latest: '1.0001877580183736'
                    percent_change:
                      day: -0.02780006
                      hour: -0.01850303
                      week: 0.14595845
                      month: -0.1648964
                - asset: ATOM
                  prices:
                    latest: '9.281191962844018'
                    percent_change:
                      day: -1.09301327
                      hour: 0.93868442
                      week: 19.89400606
                      month: -17.01898327
                - asset: MNT
                  prices:
                    latest: '1.0626904411998435'
                    percent_change:
                      day: 0.32712826
                      hour: -0.79247231
                      week: 11.54328019
                      month: -23.99819979
                - asset: PEPE
                  prices:
                    latest: '0.000008236783417174698'
                    percent_change:
                      day: -3.91026206
                      hour: -0.61782743
                      week: 21.53244972
                      month: 13.92399617
                - asset: CRO
                  prices:
                    latest: '0.13015755798705017'
                    percent_change:
                      day: -1.79750306
                      hour: 0.05525582
                      week: -2.68475721
                      month: -11.21867474
                - asset: FIL
                  prices:
                    latest: '6.057079331651596'
                    percent_change:
                      day: -2.00479625
                      hour: -0.31626725
                      week: 9.12516996
                      month: -31.41594141
                - asset: WIF
                  prices:
                    latest: '3.2548907498596074'
                    percent_change:
                      day: -5.09987634
                      hour: -1.17247767
                      week: 33.75750855
                      month: -9.55913098
                - asset: STX
                  prices:
                    latest: '2.2208307695160836'
                    percent_change:
                      day: -2.4688939
                      hour: -0.34049129
                      week: -2.2351409
                      month: -32.04009356
                - asset: IMX
                  prices:
                    latest: '2.220876881718237'
                    percent_change:
                      day: 0.3432068
                      hour: 1.52044009
                      week: 18.43536533
                      month: -18.83623532
                - asset: XLM
                  prices:
                    latest: '0.10941989432860824'
                    percent_change:
                      day: -1.25569309
                      hour: 0.25482493
                      week: 2.821847
                      month: -15.84924234
                - asset: OKB
                  prices:
                    latest: '50.67071190276418'
                    percent_change:
                      day: -0.79929225
                      hour: 0.1305587
                      week: 1.2970146
                      month: -13.02723788
                - asset: TAO
                  prices:
                    latest: '443.4106227525258'
                    percent_change:
                      day: -3.09893642
                      hour: 0.49310045
                      week: 18.98695891
                      month: -21.24934409
                - asset: OP
                  prices:
                    latest: '2.7420321376814822'
                    percent_change:
                      day: -3.66865565
                      hour: -0.56855267
                      week: 17.03890869
                      month: -11.06809122
                - asset: ARB
                  prices:
                    latest: '1.0603310572810514'
                    percent_change:
                      day: -2.00989917
                      hour: 0.13810471
                      week: 6.58232056
                      month: -29.35061992
                - asset: GRT
                  prices:
                    latest: '0.29029304041678833'
                    percent_change:
                      day: -0.17281102
                      hour: -0.01262119
                      week: 22.73592173
                      month: -14.48957187
                - asset: KAS
                  prices:
                    latest: '0.11294658438547397'
                    percent_change:
                      day: 2.88563133
                      hour: 0.83209342
                      week: 4.27890856
                      month: -20.21582255
                - asset: VET
                  prices:
                    latest: '0.03630984690658481'
                    percent_change:
                      day: -2.40126329
                      hour: 0.4096502
                      week: 0.12745637
                      month: -14.85229224
                - asset: AR
                  prices:
                    latest: '40.000470674291265'
                    percent_change:
                      day: 2.64876141
                      hour: -0.46415791
                      week: 21.27222485
                      month: 17.26990725
                - asset: MKR
                  prices:
                    latest: '2827.8346207853597'
                    percent_change:
                      day: -1.24685909
                      hour: 0.09855844
                      week: 6.62739098
                      month: -22.91927887
                - asset: SUI
                  prices:
                    latest: '1.1003922954795473'
                    percent_change:
                      day: -0.9932095
                      hour: 0.17028084
                      week: -1.43505253
                      month: -33.50756062
                - asset: XMR
                  prices:
                    latest: '132.82861278424465'
                    percent_change:
                      day: 2.77538913
                      hour: 0.32044223
                      week: 11.19704851
                      month: 0.43221938
                - asset: INJ
                  prices:
                    latest: '25.24192260478693'
                    percent_change:
                      day: -0.51590636
                      hour: 0.35712693
                      week: 7.07395272
                      month: -30.12347305
                - asset: THETA
                  prices:
                    latest: '2.2304769276162872'
                    percent_change:
                      day: -2.60751186
                      hour: -0.72152448
                      week: 9.90484415
                      month: -16.90358386
                - asset: FET
                  prices:
                    latest: '2.3897743114694467'
                    percent_change:
                      day: -0.21532046
                      hour: -0.84718023
                      week: 21.12832439
                      month: -10.74444564
                - asset: FTM
                  prices:
                    latest: '0.7012328194083012'
                    percent_change:
                      day: -2.47164293
                      hour: -0.24835285
                      week: 5.85923707
                      month: -21.9500827
                - asset: TIA
                  prices:
                    latest: '9.860789707559205'
                    percent_change:
                      day: -5.11925329
                      hour: -0.07048455
                      week: 6.78568777
                      month: -19.54074027
                - asset: RUNE
                  prices:
                    latest: '5.249263804276881'
                    percent_change:
                      day: -3.15551945
                      hour: -0.80771779
                      week: 10.40159325
                      month: -30.32898556
                - asset: LDO
                  prices:
                    latest: '1.9464541988777282'
                    percent_change:
                      day: -1.96933875
                      hour: 0.17639137
                      week: 0.30567327
                      month: -26.20491925
                - asset: FLOKI
                  prices:
                    latest: '0.00017907829329870503'
                    percent_change:
                      day: -4.76562257
                      hour: -0.41204828
                      week: 15.5418896
                      month: -12.41309517
                - asset: CORE
                  prices:
                    latest: '1.8357420247658411'
                    percent_change:
                      day: -4.363044
                      hour: 0.28047024
                      week: -5.25207562
                      month: -30.85823404
                - asset: BGB
                  prices:
                    latest: '1.1422579490561322'
                    percent_change:
                      day: -1.56989277
                      hour: 0.0223305
                      week: 0.65927789
                      month: -10.98833316
                - asset: BONK
                  prices:
                    latest: '0.000024967903821343593'
                    percent_change:
                      day: -2.08349827
                      hour: 0.43385006
                      week: 9.58693917
                      month: 5.30457174
                - asset: ALGO
                  prices:
                    latest: '0.19532234469233475'
                    percent_change:
                      day: -1.50984872
                      hour: 0.2112309
                      week: 11.57924577
                      month: -17.37149987
                - asset: JUP
                  prices:
                    latest: '1.1351915894684215'
                    percent_change:
                      day: -0.53959421
                      hour: -0.13912041
                      week: 24.08160424
                      month: -20.04427634
                - asset: SEI
                  prices:
                    latest: '0.5372664215514622'
                    percent_change:
                      day: -4.28760365
                      hour: -0.0771518
                      week: -5.00934029
                      month: -26.02325678
                - asset: GALA
                  prices:
                    latest: '0.04575750152110028'
                    percent_change:
                      day: -3.4703788
                      hour: 0.00264352
                      week: 11.10833802
                      month: -26.23676665
                - asset: ENA
                  prices:
                    latest: '0.9130126439725675'
                    percent_change:
                      day: 1.86385331
                      hour: 3.46110536
                      week: 11.63517718
                      month: -23.62737985
                - asset: FLOW
                  prices:
                    latest: '0.8982178432615524'
                    percent_change:
                      day: -1.47944994
                      hour: 0.40396227
                      week: 7.42517101
                      month: -28.52883771
                - asset: AAVE
                  prices:
                    latest: '89.01484717160056'
                    percent_change:
                      day: -0.94229378
                      hour: -0.00184223
                      week: 8.00060999
                      month: -26.80474507
                - asset: BSV
                  prices:
                    latest: '64.98217441173064'
                    percent_change:
                      day: 0.92231501
                      hour: 0.81866606
                      week: 6.59172302
                      month: -34.74007122
                - asset: AGIX
                  prices:
                    latest: '0.9937373401626777'
                    percent_change:
                      day: -0.05228159
                      hour: -0.83021187
                      week: 23.52681636
                      month: -9.75273453
                - asset: WLD
                  prices:
                    latest: '6.134105130931424'
                    percent_change:
                      day: -0.43351131
                      hour: -0.60126998
                      week: 40.48406349
                      month: -14.93174701
                - asset: BEAM
                  prices:
                    latest: '0.024658127384087663'
                    percent_change:
                      day: -3.29509496
                      hour: -0.050967
                      week: 7.60243947
                      month: -20.43442611
                - asset: QNT
                  prices:
                    latest: '99.78381060012487'
                    percent_change:
                      day: -1.52737959
                      hour: 0.41962396
                      week: 1.07341278
                      month: -17.45020165
                - asset: BTT
                  prices:
                    latest: '0.0000012245123816981783'
                    percent_change:
                      day: -1.42057428
                      hour: -0.0720153
                      week: 0.77366662
                      month: -18.43577257
                - asset: PENDLE
                  prices:
                    latest: '4.906128030711064'
                    percent_change:
                      day: -2.55405313
                      hour: -0.19316941
                      week: 11.65346293
                      month: -25.698073
                - asset: W
                  prices:
                    latest: '0.6418268660480809'
                    percent_change:
                      day: -2.57311688
                      hour: 1.34437015
                      week: 1.97219572
                      month: -38.83758347
                - asset: ONDO
                  prices:
                    latest: '0.8286524261670238'
                    percent_change:
                      day: -2.3924139
                      hour: 0.0466542
                      week: 15.22119834
                      month: 2.00450438
                - asset: FLR
                  prices:
                    latest: '0.02934591590929757'
                    percent_change:
                      day: -3.52043132
                      hour: -0.68635933
                      week: 6.57620445
                      month: -31.79466266
                - asset: NEO
                  prices:
                    latest: '16.051169284798803'
                    percent_change:
                      day: -2.74966062
                      hour: 0.55606737
                      week: -7.91629583
                      month: 3.71782796
                - asset: CHZ
                  prices:
                    latest: '0.12604145112609805'
                    percent_change:
                      day: 1.62454672
                      hour: -0.5238041
                      week: 17.63267648
                      month: -15.92863176
                - asset: AKT
                  prices:
                    latest: '4.700220229437227'
                    percent_change:
                      day: -4.02753563
                      hour: -0.3468881
                      week: 18.61135729
                      month: 9.88958032
                - asset: EGLD
                  prices:
                    latest: '40.24352315510275'
                    percent_change:
                      day: -3.23163929
                      hour: 0.30616847
                      week: 7.60623066
                      month: -26.77417506
                - asset: AXS
                  prices:
                    latest: '7.353675077246305'
                    percent_change:
                      day: -1.92962537
                      hour: 0.53735238
                      week: 9.62702
                      month: -25.13972921
                - asset: KCS
                  prices:
                    latest: '10.64309712129247'
                    percent_change:
                      day: 0.40534618
                      hour: -0.38170993
                      week: 9.98161404
                      month: 2.92612206
                - asset: DYDX
                  prices:
                    latest: '2.1708918093935456'
                    percent_change:
                      day: -3.08197264
                      hour: 0.10451987
                      week: 10.4436773
                      month: -29.0125748
                - asset: SAND
                  prices:
                    latest: '0.4424389977679089'
                    percent_change:
                      day: -3.02108555
                      hour: 0.17267032
                      week: 6.26354739
                      month: -28.56540016
                - asset: XEC
                  prices:
                    latest: '0.00004963936961507663'
                    percent_change:
                      day: -0.94699969
                      hour: 0.66119892
                      week: 7.55027553
                      month: -37.17274285
                - asset: JASMY
                  prices:
                    latest: '0.0192254367280757'
                    percent_change:
                      day: -1.48157274
                      hour: -0.21882424
                      week: 14.44456389
                      month: -3.41177389
                - asset: STRK
                  prices:
                    latest: '1.2768926961146414'
                    percent_change:
                      day: -5.65756249
                      hour: 0.04880486
                      week: 11.92413718
                      month: -34.83396183
                - asset: AIOZ
                  prices:
                    latest: '0.8426999214738503'
                    percent_change:
                      day: 14.53228738
                      hour: -3.52595549
                      week: 40.19525365
                      month: -2.61356004
                - asset: XTZ
                  prices:
                    latest: '0.9385011043544079'
                    percent_change:
                      day: -2.19901638
                      hour: 0.01564203
                      week: 2.46092204
                      month: -26.46975888
                - asset: EOS
                  prices:
                    latest: '0.8142171314500453'
                    percent_change:
                      day: -2.00311693
                      hour: 0.14776499
                      week: 8.48292257
                      month: -21.31570988
                - asset: RON
                  prices:
                    latest: '2.8317785813644187'
                    percent_change:
                      day: 0.54451274
                      hour: 0.29771046
                      week: 8.18550845
                      month: -25.61240214
                - asset: MINA
                  prices:
                    latest: '0.8203800722798629'
                    percent_change:
                      day: -3.13987748
                      hour: 0.07147534
                      week: 5.89175406
                      month: -25.34196556
                - asset: SNX
                  prices:
                    latest: '2.7362361903704886'
                    percent_change:
                      day: -3.87420556
                      hour: -0.3854444
                      week: 3.58576353
                      month: -31.98112701
                - asset: CFX
                  prices:
                    latest: '0.2185969272205455'
                    percent_change:
                      day: -3.51453923
                      hour: 0.2499407
                      week: 3.6854945
                      month: -39.88725847
                - asset: HNT
                  prices:
                    latest: '5.240734836794228'
                    percent_change:
                      day: -4.54242543
                      hour: 0.1987956
                      week: -2.58766455
                      month: -15.21649639
                - asset: MANA
                  prices:
                    latest: '0.4394595576766544'
                    percent_change:
                      day: -2.61194773
                      hour: 0.45793423
                      week: 7.00307885
                      month: -26.6052541
                - asset: ORDI
                  prices:
                    latest: '38.91573759023507'
                    percent_change:
                      day: -0.9326356
                      hour: 0.44312632
                      week: 5.35304773
                      month: -47.30857593
                - asset: GNO
                  prices:
                    latest: '314.72972852526755'
                    percent_change:
                      day: -0.00490476
                      hour: 0.03744645
                      week: 2.07509035
                      month: -9.72859758
                - asset: AXL
                  prices:
                    latest: '1.246233947229668'
                    percent_change:
                      day: -1.19562664
                      hour: 0.01384886
                      week: 20.76559183
                      month: -18.36717394
                - asset: CKB
                  prices:
                    latest: '0.01821100735407559'
                    percent_change:
                      day: -2.34644184
                      hour: 0.78350625
                      week: 8.93940973
                      month: -31.37044666
                - asset: BNB
                  prices:
                    latest: '590.04'
                - asset: BSC
                  prices:
                    latest: '590.04'
                - asset: TRON
                  prices:
                    latest: '0.1202'
                - asset: XBN
                  prices:
                    latest: '0.001'
                - asset: TRX
                  prices:
                    latest: '0.1202'
                - asset: CELO
                  prices:
                    latest: '0.7983'
                - asset: CUSD
                  prices:
                    latest: '1'
                - asset: EUROC
                  prices:
                    latest: '1.078'
                - asset: CEUR
                  prices:
                    latest: '1.078'
                - asset: EURC_XLM
                  prices:
                    latest: '1.078'
                - asset: TEURC_XLM
                  prices:
                    latest: '1.078'
                - asset: DBTK_XLM
                  prices:
                    latest: '305.1968754187449'
                - asset: BUCK_XLM
                  prices:
                    latest: '0'
                - asset: BASE
                  prices:
                    latest: '3074.0842404305276'
                - asset: ETH_ARB
                  prices:
                    latest: '3074.0842404305276'
                - asset: ETH_OP
                  prices:
                    latest: '3074.0842404305276'
                - asset: USDT_MATIC
                  prices:
                    latest: '1.000171072431336'
                - asset: USDT_TRON
                  prices:
                    latest: '1.000171072431336'
                - asset: USDT_BSC
                  prices:
                    latest: '1.000171072431336'
                - asset: USDT_SOL
                  prices:
                    latest: '1.000171072431336'
                - asset: USDT_ARB
                  prices:
                    latest: '1.000171072431336'
                - asset: USDC_MATIC
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: USDC_TRON
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: USDC_ARB
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: TUSDC_TRON
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: USDC_SOL
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: USDC_XLM
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: TUSDC_XLM
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: TUSDC_SOL
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: CMEUR_SOL
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: TUSDC_MATIC
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: TUSDC_ETH
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: USDC_BSC
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: BUSD_BSC
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: BUSD
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: USDC_ARB
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: USDCe_ARB
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: CLDX_ARB
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: CLDXT_ARB
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: USDC_BASE
                  prices:
                    latest: '1.0000436606346068'
                    percent_change:
                      day: -0.02971456
                      hour: 0.01139847
                      week: 0.00558878
                      month: 0.01011592
                - asset: NGNC_SOL
                  prices:
                    latest: '0.0006993006993006993'
                - asset: NGNC_MATIC
                  prices:
                    latest: '0.0006993006993006993'
                - asset: NGNC_XLM
                  prices:
                    latest: '0.0006993006993006993'
      deprecated: false
      security:
      - bearer: []
  /market/price:
    get:
      tags:
      - Market
      summary: Get market price
      description: 'This endpoint returns the current market price of crypto currencies '
      operationId: Getmarketprice
      parameters:
      - name: currency
        in: query
        description: The default currency is usdt
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: usd
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    example: Tue, 29 Mar 2022 15:43:38 GMT
                  example: Tue, 29 Mar 2022 15:43:38 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    example: chunked
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
            etag:
              content:
                text/plain:
                  schema:
                    type: string
                    example: W/"af5-Smm1Zn9+RCTPvb4hKdrmDjgJQFs"
                  example: W/"af5-Smm1Zn9+RCTPvb4hKdrmDjgJQFs"
            x-vercel-cache:
              content:
                text/plain:
                  schema:
                    type: string
                    example: BYPASS
                  example: BYPASS
            x-vercel-id:
              content:
                text/plain:
                  schema:
                    type: string
                    example: lhr1::iad1::9gt45-1648568615222-c762356951ce
                  example: lhr1::iad1::9gt45-1648568615222-c762356951ce
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    example: DYNAMIC
                  example: DYNAMIC
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              content:
                text/plain:
                  schema:
                    type: string
                    example:
                      endpoints:
                      - url: https://a.nel.cloudflare.com/report/v3?s=5kroyWxjBPPF6u3xhovvCgwJdAaQQbRca14uE2j%2BC6absWzKuOpOdmmjRmS5q0nHP7xCbQSDf%2BE%2FVjLI8pztOH65k1WBcbyFhDe0H89lFRx2tjwxHCZCuScSgHooUAzvXy%2F9oMoFHNGF
                      group: cf-nel
                      max_age: 604800
                  example:
                    endpoints:
                    - url: https://a.nel.cloudflare.com/report/v3?s=5kroyWxjBPPF6u3xhovvCgwJdAaQQbRca14uE2j%2BC6absWzKuOpOdmmjRmS5q0nHP7xCbQSDf%2BE%2FVjLI8pztOH65k1WBcbyFhDe0H89lFRx2tjwxHCZCuScSgHooUAzvXy%2F9oMoFHNGF
                    group: cf-nel
                    max_age: 604800
            NEL:
              content:
                text/plain:
                  schema:
                    type: string
                    example:
                      success_fraction: 0
                      report_to: cf-nel
                      max_age: 604800
                  example:
                    success_fraction: 0
                    report_to: cf-nel
                    max_age: 604800
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    example: cloudflare
                  example: cloudflare
            CF-RAY:
              content:
                text/plain:
                  schema:
                    type: string
                    example: 6f39b8d50827070e-LHR
                  example: 6f39b8d50827070e-LHR
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                    example: br
                  example: br
            alt-svc:
              content:
                text/plain:
                  schema:
                    type: string
                    example: h3=":443"; ma=86400, h3-29=":443"; ma=86400
                  example: h3=":443"; ma=86400, h3-29=":443"; ma=86400
          content:
            application/json; charset=utf-8:
              schema:
                title: 200-Getmarketprice
                required:
                - status
                - currency
                - data
                type: object
                properties:
                  status:
                    type: string
                  currency:
                    type: string
                  data:
                    title: Data
                    required:
                    - BTC
                    - BCH
                    - BSV
                    - ETH
                    - ETH2
                    - ETC
                    - LTC
                    - ZRX
                    - USDC_MATIC
                    - USDC_BSC
                    - USDC
                    - BAT
                    - LOOM
                    - MANA
                    - KNC
                    - LINK
                    - DNT
                    - MKR
                    - CVC
                    - OMG
                    - GNT
                    - DAI
                    - SNT
                    - ZEC
                    - XRP
                    - REP
                    - XLM
                    - EOS
                    - XTZ
                    - ALGO
                    - DASH
                    - ATOM
                    - OXT
                    - COMP
                    - ENJ
                    - REPV2
                    - BAND
                    - NMR
                    - CGLD
                    - UMA
                    - LRC
                    - YFI
                    - UNI
                    - BAL
                    - REN
                    - WBTC
                    - NU
                    - YFII
                    - FIL
                    - AAVE
                    - BNT
                    - GRT
                    - SNX
                    - STORJ
                    - SUSHI
                    - MATIC
                    - SKL
                    - ADA
                    - ANKR
                    - CRV
                    - ICP
                    - NKN
                    - OGN
                    - 1INCH
                    - USDT_MATIC
                    - USDT
                    - FORTH
                    - CTSI
                    - TRB
                    - POLY
                    - MIR
                    - RLC
                    - DOT
                    - SOL
                    - DOGE
                    - MLN
                    - GTC
                    - AMP
                    - SHIB
                    - CHZ
                    - KEEP
                    - LPT
                    - QNT
                    - BOND
                    - RLY
                    - CLV
                    - FARM
                    - MASK
                    - FET
                    - PAX
                    - ACH
                    - ASM
                    - PLA
                    - RAI
                    - TRIBE
                    - ORN
                    - IOTX
                    - UST
                    - QUICK
                    - AXS
                    - REQ
                    - WLUNA
                    - TRU
                    - RAD
                    - COTI
                    - DDX
                    - SUKU
                    - RGT
                    - XYO
                    - ZEN
                    - AUCTION
                    - JASMY
                    - WCFG
                    - BTRST
                    - AGLD
                    - AVAX
                    - FX
                    - TRAC
                    - LCX
                    - ARPA
                    - BADGER
                    - KRL
                    - PERP
                    - RARI
                    - DESO
                    - API3
                    - NCT
                    - SHPING
                    - UPI
                    - CRO
                    - AVT
                    - MDT
                    - VGX
                    - ALCX
                    - COVAL
                    - FOX
                    - MUSD
                    - GALA
                    - POWR
                    - GYEN
                    - ALICE
                    - INV
                    - LQTY
                    - PRO
                    - SPELL
                    - ENS
                    - DIA
                    - BLZ
                    - CTX
                    - ERN
                    - IDEX
                    - MCO2
                    - POLS
                    - SUPER
                    - UNFI
                    - STX
                    - GODS
                    - IMX
                    - RBN
                    - BICO
                    - GFI
                    - GLM
                    - MPL
                    - PLU
                    - FIDA
                    - ORCA
                    - CRPT
                    - QSP
                    - RNDR
                    - SYN
                    - AIOZ
                    - AERGO
                    - HIGH
                    - APE
                    - MINA
                    - BNB
                    - BSC
                    - TRON
                    - TRX
                    - USDT_TRON
                    type: object
                    properties:
                      BTC:
                        type: string
                      BCH:
                        type: string
                      BSV:
                        type: string
                      ETH:
                        type: string
                      ETH2:
                        type: string
                      ETC:
                        type: string
                      LTC:
                        type: string
                      ZRX:
                        type: string
                      USDC_MATIC:
                        type: string
                      USDC_BSC:
                        type: string
                      USDC:
                        type: string
                      BAT:
                        type: string
                      LOOM:
                        type: string
                      MANA:
                        type: string
                      KNC:
                        type: string
                      LINK:
                        type: string
                      DNT:
                        type: string
                      MKR:
                        type: string
                      CVC:
                        type: string
                      OMG:
                        type: string
                      GNT:
                        type: string
                      DAI:
                        type: string
                      SNT:
                        type: string
                      ZEC:
                        type: string
                      XRP:
                        type: string
                      REP:
                        type: string
                      XLM:
                        type: string
                      EOS:
                        type: string
                      XTZ:
                        type: string
                      ALGO:
                        type: string
                      DASH:
                        type: string
                      ATOM:
                        type: string
                      OXT:
                        type: string
                      COMP:
                        type: string
                      ENJ:
                        type: string
                      REPV2:
                        type: string
                      BAND:
                        type: string
                      NMR:
                        type: string
                      CGLD:
                        type: string
                      UMA:
                        type: string
                      LRC:
                        type: string
                      YFI:
                        type: string
                      UNI:
                        type: string
                      BAL:
                        type: string
                      REN:
                        type: string
                      WBTC:
                        type: string
                      NU:
                        type: string
                      YFII:
                        type: string
                      FIL:
                        type: string
                      AAVE:
                        type: string
                      BNT:
                        type: string
                      GRT:
                        type: string
                      SNX:
                        type: string
                      STORJ:
                        type: string
                      SUSHI:
                        type: string
                      MATIC:
                        type: string
                      SKL:
                        type: string
                      ADA:
                        type: string
                      ANKR:
                        type: string
                      CRV:
                        type: string
                      ICP:
                        type: string
                      NKN:
                        type: string
                      OGN:
                        type: string
                      1INCH:
                        type: string
                      USDT_MATIC:
                        type: string
                      USDT:
                        type: string
                      FORTH:
                        type: string
                      CTSI:
                        type: string
                      TRB:
                        type: string
                      POLY:
                        type: string
                      MIR:
                        type: string
                      RLC:
                        type: string
                      DOT:
                        type: string
                      SOL:
                        type: string
                      DOGE:
                        type: string
                      MLN:
                        type: string
                      GTC:
                        type: string
                      AMP:
                        type: string
                      SHIB:
                        type: string
                      CHZ:
                        type: string
                      KEEP:
                        type: string
                      LPT:
                        type: string
                      QNT:
                        type: string
                      BOND:
                        type: string
                      RLY:
                        type: string
                      CLV:
                        type: string
                      FARM:
                        type: string
                      MASK:
                        type: string
                      FET:
                        type: string
                      PAX:
                        type: string
                      ACH:
                        type: string
                      ASM:
                        type: string
                      PLA:
                        type: string
                      RAI:
                        type: string
                      TRIBE:
                        type: string
                      ORN:
                        type: string
                      IOTX:
                        type: string
                      UST:
                        type: string
                      QUICK:
                        type: string
                      AXS:
                        type: string
                      REQ:
                        type: string
                      WLUNA:
                        type: string
                      TRU:
                        type: string
                      RAD:
                        type: string
                      COTI:
                        type: string
                      DDX:
                        type: string
                      SUKU:
                        type: string
                      RGT:
                        type: string
                      XYO:
                        type: string
                      ZEN:
                        type: string
                      AUCTION:
                        type: string
                      JASMY:
                        type: string
                      WCFG:
                        type: string
                      BTRST:
                        type: string
                      AGLD:
                        type: string
                      AVAX:
                        type: string
                      FX:
                        type: string
                      TRAC:
                        type: string
                      LCX:
                        type: string
                      ARPA:
                        type: string
                      BADGER:
                        type: string
                      KRL:
                        type: string
                      PERP:
                        type: string
                      RARI:
                        type: string
                      DESO:
                        type: string
                      API3:
                        type: string
                      NCT:
                        type: string
                      SHPING:
                        type: string
                      UPI:
                        type: string
                      CRO:
                        type: string
                      AVT:
                        type: string
                      MDT:
                        type: string
                      VGX:
                        type: string
                      ALCX:
                        type: string
                      COVAL:
                        type: string
                      FOX:
                        type: string
                      MUSD:
                        type: string
                      GALA:
                        type: string
                      POWR:
                        type: string
                      GYEN:
                        type: string
                      ALICE:
                        type: string
                      INV:
                        type: string
                      LQTY:
                        type: string
                      PRO:
                        type: string
                      SPELL:
                        type: string
                      ENS:
                        type: string
                      DIA:
                        type: string
                      BLZ:
                        type: string
                      CTX:
                        type: string
                      ERN:
                        type: string
                      IDEX:
                        type: string
                      MCO2:
                        type: string
                      POLS:
                        type: string
                      SUPER:
                        type: string
                      UNFI:
                        type: string
                      STX:
                        type: string
                      GODS:
                        type: string
                      IMX:
                        type: string
                      RBN:
                        type: string
                      BICO:
                        type: string
                      GFI:
                        type: string
                      GLM:
                        type: string
                      MPL:
                        type: string
                      PLU:
                        type: string
                      FIDA:
                        type: string
                      ORCA:
                        type: string
                      CRPT:
                        type: string
                      QSP:
                        type: string
                      RNDR:
                        type: string
                      SYN:
                        type: string
                      AIOZ:
                        type: string
                      AERGO:
                        type: string
                      HIGH:
                        type: string
                      APE:
                        type: string
                      MINA:
                        type: string
                      BNB:
                        type: string
                      BSC:
                        type: string
                      TRON:
                        type: string
                      TRX:
                        type: string
                      USDT_TRON:
                        type: string
                    example:
                      BTC: '47848.65'
                      BCH: '376.81'
                      BSV: '99.25903697136339'
                      ETH: '3434.36'
                      ETH2: '3434.36'
                      ETC: '49.24'
                      LTC: '129.71'
                      ZRX: '0.724764'
                      USDC_MATIC: '1'
                      USDC_BSC: '1'
                      USDC: '1.0'
                      BAT: '0.905'
                      LOOM: '0.1003'
                      MANA: '2.752'
                      KNC: '3.5378'
                      LINK: '17.25'
                      DNT: '0.0868'
                      MKR: '2162.7'
                      CVC: '0.3555'
                      OMG: '5.67'
                      GNT: '0.5658936816000902'
                      DAI: '0.999866'
                      SNT: '0.07568'
                      ZEC: '195.08'
                      XRP: '0.875662268522965'
                      REP: '16.41'
                      XLM: '0.236303'
                      EOS: '2.9'
                      XTZ: '3.86'
                      ALGO: '0.9407'
                      DASH: '131.14'
                      ATOM: '31.13'
                      OXT: '0.2831'
                      COMP: '141.46'
                      ENJ: '1.783'
                      REPV2: '16.41'
                      BAND: '4.593'
                      NMR: '32.22'
                      CGLD: '3.47'
                      UMA: '8.04'
                      LRC: '1.2484'
                      YFI: '22892.83'
                      UNI: '11.44'
                      BAL: '14.96'
                      REN: '0.4602'
                      WBTC: '47870.3'
                      NU: '0.4668'
                      YFII: '2336.27'
                      FIL: '27.44'
                      AAVE: '204.91'
                      BNT: '2.79'
                      GRT: '0.4917'
                      SNX: '5.764'
                      STORJ: '1.37'
                      SUSHI: '4.13'
                      MATIC: '1.7045'
                      SKL: '0.218'
                      ADA: '1.2105'
                      ANKR: '0.08868'
                      CRV: '2.791'
                      ICP: '22.72'
                      NKN: '0.266'
                      OGN: '0.603'
                      1INCH: '1.837'
                      USDT_MATIC: '1.0005'
                      USDT: '1.0005'
                      FORTH: '7.67'
                      CTSI: '0.4259'
                      TRB: '24.88'
                      POLY: '0.5083'
                      MIR: '1.797'
                      RLC: '2.34'
                      DOT: '22.58'
                      SOL: '113.01'
                      DOGE: '0.1457'
                      MLN: '62.42'
                      GTC: '7.81'
                      AMP: '0.02797'
                      SHIB: '0.00002777'
                      CHZ: '0.2976'
                      KEEP: '0.6578'
                      LPT: '30.12'
                      QNT: '148.13'
                      BOND: '9.23'
                      RLY: '0.2195'
                      CLV: '0.4147'
                      FARM: '111.07'
                      MASK: '5.76'
                      FET: '0.4745'
                      PAX: '0.99'
                      ACH: '0.045375'
                      ASM: '0.0562'
                      PLA: '1.148'
                      RAI: '3.02'
                      TRIBE: '0.5811'
                      ORN: '3.785'
                      IOTX: '0.11505'
                      UST: '1.0'
                      QUICK: '230.75'
                      AXS: '65.95'
                      REQ: '0.265'
                      WLUNA: '106.87'
                      TRU: '0.2527'
                      RAD: '5.21'
                      COTI: '0.2897'
                      DDX: '2.89'
                      SUKU: '0.3345'
                      RGT: '15.51'
                      XYO: '0.0208'
                      ZEN: '49.32'
                      AUCTION: '16.1'
                      JASMY: '0.03491'
                      WCFG: '0.533'
                      BTRST: '3.469'
                      AGLD: '1.756'
                      AVAX: '94.14'
                      FX: '0.611'
                      TRAC: '0.7427'
                      LCX: '0.1255'
                      ARPA: '0.0864'
                      BADGER: '11.7'
                      KRL: '0.981'
                      PERP: '5.03'
                      RARI: '12.09'
                      DESO: '51.29'
                      API3: '5.818'
                      NCT: '0.04245'
                      SHPING: '0.025485'
                      UPI: '0.06922'
                      CRO: '0.4923'
                      AVT: '2.88'
                      MDT: '0.05955'
                      VGX: '2.162'
                      ALCX: '121.04'
                      COVAL: '0.04544'
                      FOX: '0.3387'
                      MUSD: '0.9992'
                      GALA: '0.275'
                      POWR: '0.5911'
                      GYEN: '0.00814'
                      ALICE: '7.711'
                      INV: '378.0'
                      LQTY: '2.9'
                      PRO: '1.66'
                      SPELL: '0.00436'
                      ENS: '19.83'
                      DIA: '1.07'
                      BLZ: '0.1939'
                      CTX: '7.35'
                      ERN: '6.27'
                      IDEX: '0.1655'
                      MCO2: '10.41'
                      POLS: '1.56'
                      SUPER: '0.82'
                      UNFI: '6.12'
                      STX: '1.51'
                      GODS: '1.48'
                      IMX: '2.638'
                      RBN: '1.51'
                      BICO: '1.714'
                      GFI: '3.11'
                      GLM: '0.563'
                      MPL: '45.77'
                      PLU: '9.26'
                      FIDA: '2.02'
                      ORCA: '2.23'
                      CRPT: '0.4572'
                      QSP: '0.07005'
                      RNDR: '2.99'
                      SYN: '2.441'
                      AIOZ: '0.2403'
                      AERGO: '0.2738'
                      HIGH: '6.497'
                      APE: '14.122'
                      MINA: '2.7168317189211635'
                      BNB: '438.19'
                      BSC: '438.19'
                      TRON: '0.07086'
                      TRX: '0.07086'
                      USDT_TRON: '1.0005'
                example:
                  status: success
                  currency: USD
                  data:
                    BTC: '47848.65'
                    BCH: '376.81'
                    BSV: '99.25903697136339'
                    ETH: '3434.36'
                    ETH2: '3434.36'
                    ETC: '49.24'
                    LTC: '129.71'
                    ZRX: '0.724764'
                    USDC_MATIC: '1'
                    USDC_BSC: '1'
                    USDC: '1.0'
                    BAT: '0.905'
                    LOOM: '0.1003'
                    MANA: '2.752'
                    KNC: '3.5378'
                    LINK: '17.25'
                    DNT: '0.0868'
                    MKR: '2162.7'
                    CVC: '0.3555'
                    OMG: '5.67'
                    GNT: '0.5658936816000902'
                    DAI: '0.999866'
                    SNT: '0.07568'
                    ZEC: '195.08'
                    XRP: '0.875662268522965'
                    REP: '16.41'
                    XLM: '0.236303'
                    EOS: '2.9'
                    XTZ: '3.86'
                    ALGO: '0.9407'
                    DASH: '131.14'
                    ATOM: '31.13'
                    OXT: '0.2831'
                    COMP: '141.46'
                    ENJ: '1.783'
                    REPV2: '16.41'
                    BAND: '4.593'
                    NMR: '32.22'
                    CGLD: '3.47'
                    UMA: '8.04'
                    LRC: '1.2484'
                    YFI: '22892.83'
                    UNI: '11.44'
                    BAL: '14.96'
                    REN: '0.4602'
                    WBTC: '47870.3'
                    NU: '0.4668'
                    YFII: '2336.27'
                    FIL: '27.44'
                    AAVE: '204.91'
                    BNT: '2.79'
                    GRT: '0.4917'
                    SNX: '5.764'
                    STORJ: '1.37'
                    SUSHI: '4.13'
                    MATIC: '1.7045'
                    SKL: '0.218'
                    ADA: '1.2105'
                    ANKR: '0.08868'
                    CRV: '2.791'
                    ICP: '22.72'
                    NKN: '0.266'
                    OGN: '0.603'
                    1INCH: '1.837'
                    USDT_MATIC: '1.0005'
                    USDT: '1.0005'
                    FORTH: '7.67'
                    CTSI: '0.4259'
                    TRB: '24.88'
                    POLY: '0.5083'
                    MIR: '1.797'
                    RLC: '2.34'
                    DOT: '22.58'
                    SOL: '113.01'
                    DOGE: '0.1457'
                    MLN: '62.42'
                    GTC: '7.81'
                    AMP: '0.02797'
                    SHIB: '0.00002777'
                    CHZ: '0.2976'
                    KEEP: '0.6578'
                    LPT: '30.12'
                    QNT: '148.13'
                    BOND: '9.23'
                    RLY: '0.2195'
                    CLV: '0.4147'
                    FARM: '111.07'
                    MASK: '5.76'
                    FET: '0.4745'
                    PAX: '0.99'
                    ACH: '0.045375'
                    ASM: '0.0562'
                    PLA: '1.148'
                    RAI: '3.02'
                    TRIBE: '0.5811'
                    ORN: '3.785'
                    IOTX: '0.11505'
                    UST: '1.0'
                    QUICK: '230.75'
                    AXS: '65.95'
                    REQ: '0.265'
                    WLUNA: '106.87'
                    TRU: '0.2527'
                    RAD: '5.21'
                    COTI: '0.2897'
                    DDX: '2.89'
                    SUKU: '0.3345'
                    RGT: '15.51'
                    XYO: '0.0208'
                    ZEN: '49.32'
                    AUCTION: '16.1'
                    JASMY: '0.03491'
                    WCFG: '0.533'
                    BTRST: '3.469'
                    AGLD: '1.756'
                    AVAX: '94.14'
                    FX: '0.611'
                    TRAC: '0.7427'
                    LCX: '0.1255'
                    ARPA: '0.0864'
                    BADGER: '11.7'
                    KRL: '0.981'
                    PERP: '5.03'
                    RARI: '12.09'
                    DESO: '51.29'
                    API3: '5.818'
                    NCT: '0.04245'
                    SHPING: '0.025485'
                    UPI: '0.06922'
                    CRO: '0.4923'
                    AVT: '2.88'
                    MDT: '0.05955'
                    VGX: '2.162'
                    ALCX: '121.04'
                    COVAL: '0.04544'
                    FOX: '0.3387'
                    MUSD: '0.9992'
                    GALA: '0.275'
                    POWR: '0.5911'
                    GYEN: '0.00814'
                    ALICE: '7.711'
                    INV: '378.0'
                    LQTY: '2.9'
                    PRO: '1.66'
                    SPELL: '0.00436'
                    ENS: '19.83'
                    DIA: '1.07'
                    BLZ: '0.1939'
                    CTX: '7.35'
                    ERN: '6.27'
                    IDEX: '0.1655'
                    MCO2: '10.41'
                    POLS: '1.56'
                    SUPER: '0.82'
                    UNFI: '6.12'
                    STX: '1.51'
                    GODS: '1.48'
                    IMX: '2.638'
                    RBN: '1.51'
                    BICO: '1.714'
                    GFI: '3.11'
                    GLM: '0.563'
                    MPL: '45.77'
                    PLU: '9.26'
                    FIDA: '2.02'
                    ORCA: '2.23'
                    CRPT: '0.4572'
                    QSP: '0.07005'
                    RNDR: '2.99'
                    SYN: '2.441'
                    AIOZ: '0.2403'
                    AERGO: '0.2738'
                    HIGH: '6.497'
                    APE: '14.122'
                    MINA: '2.7168317189211635'
                    BNB: '438.19'
                    BSC: '438.19'
                    TRON: '0.07086'
                    TRX: '0.07086'
                    USDT_TRON: '1.0005'
              example:
                status: success
                currency: USD
                data:
                  BTC: '62827.43'
                  ETH: '3066.92'
                  ETH2: '3066.92'
                  USDT_MATIC: '1.000355'
                  USDT_TRON: '1.000355'
                  USDT_BSC: '1.000355'
                  USDT_SOL: '1.000355'
                  USDT_ARB: '1.000355'
                  USDT: '1.000355'
                  SOL: '133.49'
                  USDC_MATIC: '1'
                  USDC_TRON: '1'
                  USDC_ARB: '1'
                  USDCe_ARB: '1'
                  TUSDC_TRON: '1'
                  USDC_SOL: '1'
                  USDC_XLM: '1'
                  TUSDC_XLM: '1'
                  TUSDC_SOL: '1'
                  CMEUR_SOL: '1'
                  TUSDC_MATIC: '1'
                  TUSDC_ETH: '1'
                  USDC_BSC: '1'
                  BUSD_BSC: '1'
                  BUSD: '1'
                  CLDX_ARB: '1'
                  CLDXT_ARB: '1'
                  USDC_BASE: '1'
                  USDC: '1'
                  XRP: '0.49315'
                  DOGE: '0.154065'
                  ADA: '0.45245'
                  SHIB: '0.0000224'
                  AVAX: '34.3'
                  WBTC: '62777.545'
                  DOT: '6.6425'
                  BCH: '482.62'
                  LINK: '13.316'
                  MATIC: '0.69525'
                  LTC: '79.025'
                  NEAR: '5.348'
                  ICP: '12.131'
                  DAI: '0.99985'
                  UNI: '7.116'
                  APT: '9.09'
                  ETC: '26'
                  STX: '2.35965'
                  CRO: '0.1256'
                  FIL: '6.022'
                  ATOM: '8.0905'
                  XLM: '0.10831'
                  RENDER: '7.9685'
                  RNDR: '8.09725'
                  ARB: '1.15135'
                  MKR: '3125.84'
                  VET: '0.039385'
                  HBAR: '0.07955'
                  IMX: '1.8786'
                  GRT: '0.2519'
                  OP: '2.2105'
                  INJ: '24.4955'
                  TIA: '10.9725'
                  FTM: '0.6760166660461652'
                  LDO: '1.999'
                  FET: '2.01315'
                  RUNE: '5.015444634087994'
                  SUI: '1.1913'
                  ALGO: '0.1722'
                  SEI: '0.48445'
                  BSV: '66.82998267089717'
                  FLOW: '0.871'
                  AAVE: '85.475'
                  GALA: '0.0408963240631046'
                  BNB: '537.68'
                  BSC: '537.68'
                  TRON: '0.111'
                  XBN: '0.001'
                  TRX: '0.111'
                  CELO: '0.77'
                  CUSD: '1'
                  EUROC: '1.061'
                  CEUR: '1.061'
                  EURC_XLM: '1.061'
                  TEURC_XLM: '1.061'
                  BASE: '3066.92'
                  ETH_ARB: '3066.92'
                  ETH_OP: '3066.92'
                  NGNC_SOL: '0.0009025270758122744'
                  NGNC_MATIC: '0.0009025270758122744'
                  NGNC_XLM: '0.0009025270758122744'
        '400':
          description: Bad Request
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                    example: Tue, 29 Mar 2022 15:47:31 GMT
                  example: Tue, 29 Mar 2022 15:47:31 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                    example: '79'
                  example: '79'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
            etag:
              content:
                text/plain:
                  schema:
                    type: string
                    example: W/"4f-VyxXZxWLChmNpR+pQVkRITaml9c"
                  example: W/"4f-VyxXZxWLChmNpR+pQVkRITaml9c"
            x-vercel-cache:
              content:
                text/plain:
                  schema:
                    type: string
                    example: BYPASS
                  example: BYPASS
            x-vercel-id:
              content:
                text/plain:
                  schema:
                    type: string
                    example: lhr1::iad1::vxmzx-1648568850635-76fceea78b11
                  example: lhr1::iad1::vxmzx-1648568850635-76fceea78b11
            CF-Cache-Status:
              content:
                text/plain:
                  schema:
                    type: string
                    example: DYNAMIC
                  example: DYNAMIC
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                    example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              content:
                text/plain:
                  schema:
                    type: string
                    example:
                      endpoints:
                      - url: https://a.nel.cloudflare.com/report/v3?s=7Cm594Nq3zydJj6EtLIYPkEHAUVIvmofQbP791pj62M1hW33XUbsTopGSd4BSpNIPaSH9LPcST9c0VPbLrpxnYUsADvjV4cocBnp%2F0nrk2QHunM8g88tp4kr3OEn0HBsGZup%2BcMSR3sP
                      group: cf-nel
                      max_age: 604800
                  example:
                    endpoints:
                    - url: https://a.nel.cloudflare.com/report/v3?s=7Cm594Nq3zydJj6EtLIYPkEHAUVIvmofQbP791pj62M1hW33XUbsTopGSd4BSpNIPaSH9LPcST9c0VPbLrpxnYUsADvjV4cocBnp%2F0nrk2QHunM8g88tp4kr3OEn0HBsGZup%2BcMSR3sP
                    group: cf-nel
                    max_age: 604800
            NEL:
              content:
                text/plain:
                  schema:
                    type: string
                    example:
                      success_fraction: 0
                      report_to: cf-nel
                      max_age: 604800
                  example:
                    success_fraction: 0
                    report_to: cf-nel
                    max_age: 604800
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                    example: cloudflare
                  example: cloudflare
            CF-RAY:
              content:
                text/plain:
                  schema:
                    type: string
                    example: 6f39be945ed6070e-LHR
                  example: 6f39be945ed6070e-LHR
            alt-svc:
              content:
                text/plain:
                  schema:
                    type: string
                    example: h3=":443"; ma=86400, h3-29=":443"; ma=86400
                  example: h3=":443"; ma=86400, h3-29=":443"; ma=86400
          content:
            application/json; charset=utf-8:
              schema:
                title: m4001
                required:
                - status
                - message
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                example:
                  status: error
                  message: 'TypeError: Cannot read property ''prices'' of null'
              example:
                status: error
                message: 'TypeError: Cannot read property ''prices'' of null'
      deprecated: false
      security:
      - bearer: []
  /market/ticker:
    get:
      tags:
      - Market
      summary: Get market ticker
      description: This endpoint gets the market ticker of a coin pair
      operationId: Getmarketticker
      parameters: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                title: Getmarketticker
                required:
                - coin/pair
                type: object
                properties:
                  coin/pair:
                    type: string
                example:
                  coin/pair: '0.012'
              example:
                status: success
                data:
                - price: '0.07061100'
                  symbol: ETHBTC
                - price: '0.00373100'
                  symbol: LTCBTC
                - price: '0.01623100'
                  symbol: BNBBTC
                - price: '0.00040400'
                  symbol: NEOBTC
                - price: '0.00179200'
                  symbol: QTUMETH
                - price: '0.00076200'
                  symbol: EOSETH
                - price: '0.00001899'
                  symbol: SNTETH
                - price: '0.00030300'
                  symbol: BNTETH
                - price: '0.07908100'
                  symbol: BCCBTC
                - price: '0.00012840'
                  symbol: GASBTC
                - price: '0.22990000'
                  symbol: BNBETH
                - price: '16535.25000000'
                  symbol: BTCUSDT
                - price: '1167.82000000'
                  symbol: ETHUSDT
                - price: '0.00041400'
                  symbol: HSRBTC
                - price: '0.00017780'
                  symbol: OAXETH
                - price: '0.00002801'
                  symbol: DNTETH
                - price: '0.00577200'
                  symbol: MCOETH
                - price: '0.00166300'
                  symbol: ICNETH
                - price: '0.00021140'
                  symbol: MCOBTC
                - price: '0.00001265'
                  symbol: WTCBTC
                - price: '0.00023700'
                  symbol: WTCETH
                - price: '0.00001469'
                  symbol: LRCBTC
                - price: '0.00020711'
                  symbol: LRCETH
                - price: '0.00012690'
                  symbol: QTUMBTC
                - price: '0.00000008'
                  symbol: YOYOBTC
                - price: '0.00006930'
                  symbol: OMGBTC
                - price: '0.00098000'
                  symbol: OMGETH
                - price: '0.00001160'
                  symbol: ZRXBTC
                - price: '0.00016500'
                  symbol: ZRXETH
                - price: '0.00003085'
                  symbol: STRATBTC
                - price: '0.00105300'
                  symbol: STRATETH
                - price: '0.00000013'
                  symbol: SNGLSBTC
                - price: '0.00005306'
                  symbol: SNGLSETH
                - price: '0.00008703'
                  symbol: BQXBTC
                - price: '0.00126350'
                  symbol: BQXETH
                - price: '0.00003808'
                  symbol: KNCBTC
                - price: '0.00053850'
                  symbol: KNCETH
                - price: '0.00000029'
                  symbol: FUNBTC
                - price: '0.00000563'
                  symbol: FUNETH
                - price: '0.00048595'
                  symbol: SNMBTC
                - price: '0.00004986'
                  symbol: SNMETH
                - price: '0.00571000'
                  symbol: NEOETH
                - price: '0.00001357'
                  symbol: IOTABTC
                - price: '0.00019270'
                  symbol: IOTAETH
                - price: '0.00036210'
                  symbol: LINKBTC
                - price: '0.00512700'
                  symbol: LINKETH
                - price: '0.00000015'
                  symbol: XVGBTC
                - price: '0.00000196'
                  symbol: XVGETH
                - price: '0.00004250'
                  symbol: SALTBTC
                - price: '0.00113800'
                  symbol: SALTETH
                - price: '0.00000382'
                  symbol: MDABTC
                - price: '0.00181150'
                  symbol: MDAETH
                - price: '0.00004234'
                  symbol: MTLBTC
                - price: '0.00060160'
                  symbol: MTLETH
                - price: '0.00000457'
                  symbol: SUBBTC
                - price: '0.00012334'
                  symbol: SUBETH
                - price: '0.00005400'
                  symbol: EOSBTC
                - price: '0.00000134'
                  symbol: SNTBTC
                - price: '0.01617000'
                  symbol: ETCETH
                - price: '0.00114500'
                  symbol: ETCBTC
                - price: '0.00000023'
                  symbol: MTHBTC
                - price: '0.00004135'
                  symbol: MTHETH
                - price: '0.00006200'
                  symbol: ENGBTC
                - price: '0.00186480'
                  symbol: ENGETH
                - price: '0.00000186'
                  symbol: DNTBTC
                - price: '0.00240000'
                  symbol: ZECBTC
                - price: '0.03393000'
                  symbol: ZECETH
                - price: '0.00002147'
                  symbol: BNTBTC
                - price: '0.00000600'
                  symbol: ASTBTC
                - price: '0.00006960'
                  symbol: ASTETH
                - price: '0.00215500'
                  symbol: DASHBTC
                - price: '0.03059000'
                  symbol: DASHETH
                - price: '0.00000999'
                  symbol: OAXBTC
                - price: '0.00005742'
                  symbol: ICNBTC
                - price: '0.00091300'
                  symbol: BTGBTC
                - price: '0.05274500'
                  symbol: BTGETH
                - price: '0.00000274'
                  symbol: EVXBTC
                - price: '0.00062490'
                  symbol: EVXETH
                - price: '0.00000513'
                  symbol: REQBTC
                - price: '0.00004995'
                  symbol: REQETH
                - price: '0.00000845'
                  symbol: VIBBTC
                - price: '0.00011884'
                  symbol: VIBETH
                - price: '0.01247400'
                  symbol: HSRETH
                - price: '0.00000307'
                  symbol: TRXBTC
                - price: '0.00004341'
                  symbol: TRXETH
                - price: '0.00000877'
                  symbol: POWRBTC
                - price: '0.00012370'
                  symbol: POWRETH
                - price: '0.00001684'
                  symbol: ARKBTC
                - price: '0.00104600'
                  symbol: ARKETH
                - price: '0.00005828'
                  symbol: YOYOETH
                - price: '0.00002260'
                  symbol: XRPBTC
                - price: '0.00032010'
                  symbol: XRPETH
                - price: '0.00004280'
                  symbol: MODBTC
                - price: '0.00116700'
                  symbol: MODETH
                - price: '0.00001864'
                  symbol: ENJBTC
                - price: '0.00026330'
                  symbol: ENJETH
                - price: '0.00001919'
                  symbol: STORJBTC
                - price: '0.00029910'
                  symbol: STORJETH
                - price: '268.50000000'
                  symbol: BNBUSDT
                - price: '0.14920000'
                  symbol: VENBNB
                - price: '0.00059800'
                  symbol: YOYOBNB
                - price: '0.00385000'
                  symbol: POWRBNB
                - price: '0.00013928'
                  symbol: VENBTC
                - price: '0.00325194'
                  symbol: VENETH
                - price: '0.00001120'
                  symbol: KMDBTC
                - price: '0.00020970'
                  symbol: KMDETH
                - price: '0.01257000'
                  symbol: NULSBNB
                - price: '0.00000074'
                  symbol: RCNBTC
                - price: '0.00037604'
                  symbol: RCNETH
                - price: '0.00347300'
                  symbol: RCNBNB
                - price: '0.00001107'
                  symbol: NULSBTC
                - price: '0.00051926'
                  symbol: NULSETH
                - price: '0.00000447'
                  symbol: RDNBTC
                - price: '0.00071530'
                  symbol: RDNETH
                - price: '0.00623000'
                  symbol: RDNBNB
                - price: '0.00801700'
                  symbol: XMRBTC
                - price: '0.11362000'
                  symbol: XMRETH
                - price: '0.00240000'
                  symbol: DLTBNB
                - price: '0.00180500'
                  symbol: WTCBNB
                - price: '0.00000071'
                  symbol: DLTBTC
                - price: '0.00016807'
                  symbol: DLTETH
                - price: '0.00000103'
                  symbol: AMBBTC
                - price: '0.00004100'
                  symbol: AMBETH
                - price: '0.00068500'
                  symbol: AMBBNB
                - price: '2.47246000'
                  symbol: BCCETH
                - price: '448.70000000'
                  symbol: BCCUSDT
                - price: '54.29000000'
                  symbol: BCCBNB
                - price: '0.00001363'
                  symbol: BATBTC
                - price: '0.00019340'
                  symbol: BATETH
                - price: '0.00183100'
                  symbol: BATBNB
                - price: '0.00000048'
                  symbol: BCPTBTC
                - price: '0.00008181'
                  symbol: BCPTETH
                - price: '0.00116200'
                  symbol: BCPTBNB
                - price: '0.00000761'
                  symbol: ARNBTC
                - price: '0.00029362'
                  symbol: ARNETH
                - price: '0.00001792'
                  symbol: GVTBTC
                - price: '0.00384600'
                  symbol: GVTETH
                - price: '0.00000317'
                  symbol: CDTBTC
                - price: '0.00005119'
                  symbol: CDTETH
                - price: '0.00004581'
                  symbol: GXSBTC
                - price: '0.00062460'
                  symbol: GXSETH
                - price: '6.67000000'
                  symbol: NEOUSDT
                - price: '0.02490000'
                  symbol: NEOBNB
                - price: '0.00000005'
                  symbol: POEBTC
                - price: '0.00000664'
                  symbol: POEETH
                - price: '0.00000076'
                  symbol: QSPBTC
                - price: '0.00002249'
                  symbol: QSPETH
                - price: '0.00052350'
                  symbol: QSPBNB
                - price: '0.00000047'
                  symbol: BTSBTC
                - price: '0.00009498'
                  symbol: BTSETH
                - price: '0.00144800'
                  symbol: BTSBNB
                - price: '0.00013550'
                  symbol: XZCBTC
                - price: '0.00310000'
                  symbol: XZCETH
                - price: '0.26750000'
                  symbol: XZCBNB
                - price: '0.00004682'
                  symbol: LSKBTC
                - price: '0.00066300'
                  symbol: LSKETH
                - price: '0.06494000'
                  symbol: LSKBNB
                - price: '0.00000261'
                  symbol: TNTBTC
                - price: '0.00000920'
                  symbol: TNTETH
                - price: '0.00000026'
                  symbol: FUELBTC
                - price: '0.00002221'
                  symbol: FUELETH
                - price: '0.00002460'
                  symbol: MANABTC
                - price: '0.00034790'
                  symbol: MANAETH
                - price: '0.00001351'
                  symbol: BCDBTC
                - price: '0.00251000'
                  symbol: BCDETH
                - price: '0.00393100'
                  symbol: DGDBTC
                - price: '0.19260000'
                  symbol: DGDETH
                - price: '0.00083100'
                  symbol: IOTABNB
                - price: '0.00000755'
                  symbol: ADXBTC
                - price: '0.00010710'
                  symbol: ADXETH
                - price: '0.00492900'
                  symbol: ADXBNB
                - price: '0.00001930'
                  symbol: ADABTC
                - price: '0.00027340'
                  symbol: ADAETH
                - price: '0.00001855'
                  symbol: PPTBTC
                - price: '0.00141000'
                  symbol: PPTETH
                - price: '0.00000028'
                  symbol: CMTBTC
                - price: '0.00000625'
                  symbol: CMTETH
                - price: '0.00057700'
                  symbol: CMTBNB
                - price: '0.00000539'
                  symbol: XLMBTC
                - price: '0.00007640'
                  symbol: XLMETH
                - price: '0.00033080'
                  symbol: XLMBNB
                - price: '0.00000006'
                  symbol: CNDBTC
                - price: '0.00002599'
                  symbol: CNDETH
                - price: '0.00033990'
                  symbol: CNDBNB
                - price: '0.00004512'
                  symbol: LENDBTC
                - price: '0.00137174'
                  symbol: LENDETH
                - price: '0.00000537'
                  symbol: WABIBTC
                - price: '0.00040308'
                  symbol: WABIETH
                - price: '0.00024130'
                  symbol: WABIBNB
                - price: '0.05288000'
                  symbol: LTCETH
                - price: '61.69000000'
                  symbol: LTCUSDT
                - price: '0.22970000'
                  symbol: LTCBNB
                - price: '0.00000007'
                  symbol: TNBBTC
                - price: '0.00000752'
                  symbol: TNBETH
                - price: '0.00013740'
                  symbol: WAVESBTC
                - price: '0.00194700'
                  symbol: WAVESETH
                - price: '0.00847000'
                  symbol: WAVESBNB
                - price: '0.00000076'
                  symbol: GTOBTC
                - price: '0.00003197'
                  symbol: GTOETH
                - price: '0.00035200'
                  symbol: GTOBNB
                - price: '0.00000964'
                  symbol: ICXBTC
                - price: '0.00013660'
                  symbol: ICXETH
                - price: '0.00465400'
                  symbol: ICXBNB
                - price: '0.00000032'
                  symbol: OSTBTC
                - price: '0.00000225'
                  symbol: OSTETH
                - price: '0.00052500'
                  symbol: OSTBNB
                - price: '0.00000733'
                  symbol: ELFBTC
                - price: '0.00010380'
                  symbol: ELFETH
                - price: '0.00000177'
                  symbol: AIONBTC
                - price: '0.00002645'
                  symbol: AIONETH
                - price: '0.00261300'
                  symbol: AIONBNB
                - price: '0.00011222'
                  symbol: NEBLBTC
                - price: '0.01356000'
                  symbol: NEBLBNB
                - price: '0.00000127'
                  symbol: BRDBTC
                - price: '0.00001688'
                  symbol: BRDETH
                - price: '0.00247000'
                  symbol: BRDBNB
                - price: '0.26837000'
                  symbol: MCOBNB
                - price: '0.00005609'
                  symbol: EDOBTC
                - price: '0.00226600'
                  symbol: EDOETH
                - price: '0.00001193'
                  symbol: WINGSBTC
                - price: '0.00033460'
                  symbol: WINGSETH
                - price: '0.00000277'
                  symbol: NAVBTC
                - price: '0.00011870'
                  symbol: NAVETH
                - price: '0.00423700'
                  symbol: NAVBNB
                - price: '0.00008510'
                  symbol: LUNBTC
                - price: '0.00489100'
                  symbol: LUNETH
                - price: '0.00001980'
                  symbol: TRIGBTC
                - price: '0.00059400'
                  symbol: TRIGETH
                - price: '0.01218000'
                  symbol: TRIGBNB
                - price: '0.00000055'
                  symbol: APPCBTC
                - price: '0.00014600'
                  symbol: APPCETH
                - price: '0.00189100'
                  symbol: APPCBNB
                - price: '0.00000042'
                  symbol: VIBEBTC
                - price: '0.00005720'
                  symbol: VIBEETH
                - price: '0.00006832'
                  symbol: RLCBTC
                - price: '0.00096800'
                  symbol: RLCETH
                - price: '0.03344000'
                  symbol: RLCBNB
                - price: '0.00000618'
                  symbol: INSBTC
                - price: '0.00050100'
                  symbol: INSETH
                - price: '0.00001628'
                  symbol: PIVXBTC
                - price: '0.01660000'
                  symbol: PIVXBNB
                - price: '0.00000052'
                  symbol: IOSTBTC
                - price: '0.00000724'
                  symbol: IOSTETH
                - price: '0.00000195'
                  symbol: CHATBTC
                - price: '0.00006585'
                  symbol: CHATETH
                - price: '0.00001020'
                  symbol: STEEMBTC
                - price: '0.00014450'
                  symbol: STEEMETH
                - price: '0.00448000'
                  symbol: STEEMBNB
                - price: '0.00006280'
[...]
