openapi: 3.0.0
info:
  title: Bitpowr Reference
  contact: {}
  version: '1.0'
  x-apievangelist-source: reconstructed from docs.bitpowr.com ReadMe per-operation OpenAPI fragments (2026-07-18)
servers:
- url: https://developers.bitpowr.com/api/v1
paths:
  /assets:
    post:
      tags:
      - Assets
      summary: Add assets
      description: This endpoint adds assets
      operationId: Addassets
      parameters: []
      requestBody:
        content:
          application/json:
            encoding: {}
            schema:
              required:
              - label
              - asset
              - accountId
              type: object
              properties:
                label:
                  type: string
                  description: The label of the Asset you want to Add.
                  example: ioetdf0isd08
                asset:
                  type: string
                  description: Tthe asset you want to add (BTC,USDT,LTC,BCH)
                  example: ETH
                accountId:
                  type: string
                  description: The uid of the account/wallet you want to add assets for.
                  example: e96a5c42-4374-4e6e-9e52-021fc1f65d99
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                title: Addassets
                required:
                - status
                - message
                - data
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  data:
                    title: Data4
                    required:
                    - uid
                    - label
                    - isDeleted
                    - isArchived
                    - organizationId
                    - accountId
                    - assetType
                    - network
                    - mode
                    - enableAutoForwarding
                    - autoForwardAddress
                    - createdAt
                    - balance
                    type: object
                    properties:
                      uid:
                        type: string
                      label:
                        type: string
                      isDeleted:
                        type: boolean
                      isArchived:
                        type: boolean
                      organizationId:
                        type: string
                      accountId:
                        type: string
                      assetType:
                        type: string
                      network:
                        type: string
                      mode:
                        type: string
                      enableAutoForwarding:
                        type: boolean
                      autoForwardAddress:
                        type: string
                        nullable: true
                      createdAt:
                        type: string
                      balance:
                        title: Balance
                        required:
                        - received
                        - sent
                        - balance
                        - pending
                        - blocked
                        type: object
                        properties:
                          received:
                            type: string
                          sent:
                            type: string
                          balance:
                            type: string
                          pending:
                            type: string
                          blocked:
                            type: string
                        example:
                          received: '0.00'
                          sent: '0.00'
                          balance: '0.00'
                          pending: '0.00'
                          blocked: '0.00'
                    example:
                      uid: 49e090c7-1570-4bd1-8710-20e7139b34f5
                      label: Litecoin
                      isDeleted: false
                      isArchived: false
                      organizationId: 91f55ca6-c413-4ee8-9c4e-197bf9533350
                      accountId: bfbb4394-fd3b-4054-a821-42b6e7827194
                      assetType: LTC
                      network: TESTNET
                      mode: TEST
                      enableAutoForwarding: false
                      autoForwardAddress: null
                      createdAt: '2021-08-18T17:16:35.926Z'
                      balance:
                        received: '0.00'
                        sent: '0.00'
                        balance: '0.00'
                        pending: '0.00'
                        blocked: '0.00'
                example:
                  status: success
                  message: success
                  data:
                    uid: 49e090c7-1570-4bd1-8710-20e7139b34f5
                    label: Litecoin
                    isDeleted: false
                    isArchived: false
                    organizationId: 91f55ca6-c413-4ee8-9c4e-197bf9533350
                    accountId: bfbb4394-fd3b-4054-a821-42b6e7827194
                    assetType: LTC
                    network: TESTNET
                    mode: TEST
                    enableAutoForwarding: false
                    autoForwardAddress: null
                    createdAt: '2021-08-18T17:16:35.926Z'
                    balance:
                      received: '0.00'
                      sent: '0.00'
                      balance: '0.00'
                      pending: '0.00'
                      blocked: '0.00'
              example:
                status: success
                message: BTC already added to this wallet
                data:
                  uid: 564ae50d-7285-417d-96aa-c8b99b06467a
                  guid: 5da79336-49a6-4cf0-b056-f8c9e38a0b63
                  label: Bitcoin
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: BITCOIN
                  network: TESTNET
                  mode: TEST
                  assetType: BTC
                  autoForwardAddress: null
                  createdAt: '2021-12-12T15:15:56.266Z'
                  Transaction:
                  - uid: ba0baa6a-329f-486f-be13-fbcbfa1766f3
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: DEPOSIT
                    hash: 4a9f7116ebd04f039999b8c6b36fb616f29863c42df686aef8d0f07016133dd3
                    confirmation: 1
                    depositId: 3342d64c-b9a5-4cb9-93ea-d6f46ed928ec
                    transferId: null
                    address: mjnG5NQmA1YPdK2xBzBrBKgpHxFb2obQSm
                    fromAddress: null
                    transactionRef: TRX-bqDHNLH4NfivfZcAppiuilOpFGzp$g
                    description: null
                    amount: 0.001
                    dollarRate: 49730.11
                    dollarAmount: 49.73011
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2021-12-12T15:19:17.899Z'
                    updatedAt: '2021-12-12T15:19:17.985Z'
                    completedAt: '2021-12-12T15:19:17.985Z'
                    cancelledAt: null
                  - uid: 7dbac6f1-53b0-46ed-b950-50f3f8a187f9
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: DEPOSIT
                    hash: 97fe9f8fcd1e3b8779e269b824f0cb48723adb61d1c2780960830850429d9bb5
                    confirmation: 1
                    depositId: 17f49099-dc63-4dac-b284-dbdc6b9fbb9b
                    transferId: null
                    address: mjnG5NQmA1YPdK2xBzBrBKgpHxFb2obQSm
                    fromAddress: null
                    transactionRef: TRX-atJnrcDbzERah1VpcPbWIGAi4B#Myo
                    description: null
                    amount: 0.001
                    dollarRate: 47484.26
                    dollarAmount: 47.48426
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2021-12-15T13:24:08.248Z'
                    updatedAt: '2021-12-15T13:24:08.326Z'
                    completedAt: '2021-12-15T13:24:08.326Z'
                    cancelledAt: null
                  - uid: 581f86e5-9d2a-4b9c-a526-bfc114d79e0e
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: DEPOSIT
                    hash: 45bc88b56e7c0100a0f6a7b9c97149a4bff2c44a92f0acf9bfb2adce85c00cb1
                    confirmation: 1
                    depositId: ef093edc-bfb0-4544-a1f8-da4d97a12bf7
                    transferId: null
                    address: mjnG5NQmA1YPdK2xBzBrBKgpHxFb2obQSm
                    fromAddress: null
                    transactionRef: TRX-jAS0HsfNGjv1ml5FsV5xBnXeoMNtGe
                    description: null
                    amount: 0.00077549
                    dollarRate: 42053.99
                    dollarAmount: 32.6124487051
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-01-19T17:41:17.507Z'
                    updatedAt: '2022-01-19T17:41:17.606Z'
                    completedAt: '2022-01-19T17:41:17.606Z'
                    cancelledAt: null
                  - uid: 2da31740-b1dc-486d-a576-4e5fadd43034
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: mjnG5NQmA1YPdK2xBzBrBKgpHxFb2obQSm
                    fromAddress: null
                    transactionRef: BTP-8mpR1vgpCez6kU6uv9m9nAZAg3LNt8
                    description: null
                    amount: 0.00045885
                    dollarRate: 43572.01
                    dollarAmount: 19.99
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: Request failed with status code 403
                    createdAt: '2022-02-16T18:08:38.289Z'
                    updatedAt: '2022-02-16T18:09:25.220Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 3a2b75ae-042d-4da1-8044-904cb0443b87
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: ms9KK3br5kSYtHxsK1FXfkDHQT6imQ9iyD
                    fromAddress: null
                    transactionRef: BTP-PSEk5JKEAIHPO1nr0rqsZ4RBWNmsF#
                    description: null
                    amount: 0.00043494
                    dollarRate: 43704.24
                    dollarAmount: 19.01
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: Request failed with status code 403
                    createdAt: '2022-02-16T18:31:07.981Z'
                    updatedAt: '2022-02-16T18:31:29.340Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 4832a346-625f-44f0-990f-54ab0856e2b5
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: n4ZhTVfiUUn9uSgDg5RA28wMT3EJ3fJ2pp
                    fromAddress: null
                    transactionRef: BTP-$CEtJjCeJb2ONpELXmOv7j1fRrwfAO
                    description: null
                    amount: 0.00041202
                    dollarRate: 43681.31
                    dollarAmount: 18
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: Request failed with status code 403
                    createdAt: '2022-02-17T05:22:57.971Z'
                    updatedAt: '2022-02-17T05:24:02.119Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: b08bd0f8-f911-4732-b1da-4ee2ae84576f
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: mpnb2LDU9qxU9xQPPSq7fdEFjrmcC7LmQw
                    fromAddress: null
                    transactionRef: BTP-YINqm$0WZFPQSxG8$fGX17bXb8RdpY
                    description: null
                    amount: 0.00077299
                    dollarRate: 38795.81
                    dollarAmount: 29.99
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: Request failed with status code 403
                    createdAt: '2022-04-25T13:18:31.220Z'
                    updatedAt: '2022-04-25T13:19:09.582Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 320c60b4-af18-4ebd-b8ac-f3b6e9fcd435
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: DEPOSIT
                    hash: ffeb91556fb5af32d15aa1c0d3244ebf2e6b6d7cd8371e13bc2de442bc36fc66
                    confirmation: 6
                    depositId: 552325ab-6771-40e5-aa3e-cfd00fef0578
                    transferId: null
                    address: tb1qsjrjq7y8k47uc3ts7073h3s8empxzwf55gs6uv
                    fromAddress: null
                    transactionRef: TRX-pymDGTnjJTN4tGNRInvs6DPerodGKV
                    description: null
                    amount: 0.0002
                    dollarRate: 21429.15
                    dollarAmount: 4.28583
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-06-21T16:23:47.359Z'
                    updatedAt: '2022-06-21T16:36:15.217Z'
                    completedAt: '2022-06-21T16:36:15.217Z'
                    cancelledAt: null
                  - uid: 743828cf-9636-4053-8ceb-81e15e6aa182
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: tb1ql0rvausepq4v9vg9h33aac435c3lf0k8y3syuz
                    fromAddress: null
                    transactionRef: BTP-b9cPqmtP$gbzH#OOgAbbjjfVmYBLmk
                    description: null
                    amount: 0.00023331
                    dollarRate: 21431.12
                    dollarAmount: 5
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-06-21T16:26:54.873Z'
                    updatedAt: '2022-06-21T16:27:11.272Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 7478e9ff-064e-4d8c-bb29-3b7a89060805
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: tb1ql0rvausepq4v9vg9h33aac435c3lf0k8y3syuz
                    fromAddress: null
                    transactionRef: BTP-U$d52jsPEEyTwsr3ivYWRDSbbkyY8T
                    description: null
                    amount: 0.00014001
                    dollarRate: 21474.98
                    dollarAmount: 3.01
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-06-21T16:30:12.335Z'
                    updatedAt: '2022-06-21T16:31:13.389Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 70d07356-0d1d-4f67-8dad-e6c8fe74d550
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: mtgGLPJU1s5YoQVBJ42amge6nLRaXndhXQ
                    fromAddress: null
                    transactionRef: BTP-bbeSUuvejw2vICdo#GDhuLxIiN4hZe
                    description: test
                    amount: 0.00294337
                    dollarRate: 19354.25
                    dollarAmount: 56.97
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-10-24T13:09:16.369Z'
                    updatedAt: '2022-10-24T13:57:02.529Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: af6065c5-6979-49fe-bea3-e65522c07a70
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: mkMhn8jvXWowRgaZfwPqPmSj5CAgXWSpao
                    fromAddress: null
                    transactionRef: BTP-YWDSgDnOaDiu5XqFCwXzoz6HRDRnX#
                    description: null
                    amount: 0.00014466
                    dollarRate: 20779.35
                    dollarAmount: 3.01
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-06-21T20:25:21.468Z'
                    updatedAt: '2022-06-21T20:26:24.733Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: c556c088-4e1d-45b1-a97b-aa94ded805fe
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: mkMhn8jvXWowRgaZfwPqPmSj5CAgXWSpao
                    fromAddress: null
                    transactionRef: BTP-2LBq2RR$KgfuW1onqQJSEzXR2WxzKM
                    description: null
                    amount: 0.00014378
                    dollarRate: 20822.19
                    dollarAmount: 2.99
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-06-21T20:49:29.800Z'
                    updatedAt: '2022-06-21T20:50:28.887Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 3794fc1f-9bdd-472c-82c0-25c58e3dd8e8
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: mtgGLPJU1s5YoQVBJ42amge6nLRaXndhXQ
                    fromAddress: null
                    transactionRef: BTP-ys6ThGynp#ADq#wJC2P1ty8xyxhXuw
                    description: null
                    amount: 0.00099783
                    dollarRate: 20043.51
                    dollarAmount: 20
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-06-22T16:05:51.253Z'
                    updatedAt: '2022-06-22T16:06:19.764Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 57aa1c1c-01bf-4546-942e-c496069d1656
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: mtgGLPJU1s5YoQVBJ42amge6nLRaXndhXQ
                    fromAddress: null
                    transactionRef: BTP-I#X$EFHMsmzH9gAmqXFy1bo9U1XTO8
                    description: wrghrigr
                    amount: 0.00100567
                    dollarRate: 19887.26
                    dollarAmount: 20
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-06-22T16:07:36.375Z'
                    updatedAt: '2022-06-22T16:08:22.124Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 21486d8d-30bd-48b8-b1de-cc345f056d07
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: tb1qehflylquqg45u8syg9253x3l4485u5zf3w5yex
                    fromAddress: null
                    transactionRef: BTP-qgFwSAzbttxd90i5VQzKNbw6V28BrC
                    description: fwhfuwhfguwhgh
                    amount: 0.00105694
                    dollarRate: 19874.53
                    dollarAmount: 21.01
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-06-22T16:09:26.007Z'
                    updatedAt: '2022-06-22T16:10:24.011Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: d31fc1f5-8e1c-496d-b4fb-750895c8b94b
                    status: PENDING
                    subStatus: BLOCKED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: mpnb2LDU9qxU9xQPPSq7fdEFjrmcC7LmQw
                    fromAddress: null
                    transactionRef: BTP-8C2806KxUYggQ#KQSSjY0gKRF0b2FL
                    description: null
                    amount: 0.00289479
                    dollarRate: 19347.14
                    dollarAmount: 56.01
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-10-24T13:21:30.481Z'
                    updatedAt: '2022-10-24T13:21:31.884Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 00ddf5e4-8621-4cd7-877b-94ebc7c78c06
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: DEPOSIT
                    hash: 69059e96abe4015942eeec2ab0898f0a02a69b1fd6fc65b5b4db2e3d6854f1e8
                    confirmation: 6
                    depositId: 8b4794fb-b803-4df5-b5b3-34ec83da75ce
                    transferId: null
                    address: mjnG5NQmA1YPdK2xBzBrBKgpHxFb2obQSm
                    fromAddress: ''
                    transactionRef: TRX-P8W2SCEp7emJzSfBQ4Gp7kNX$FyGdi
                    description: null
                    amount: 0.00035517
                    dollarRate: 20711.17
                    dollarAmount: 7.3559862489
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-10-31T09:50:50.793Z'
                    updatedAt: '2022-10-31T10:44:55.315Z'
                    completedAt: '2022-10-31T10:44:55.315Z'
                    cancelledAt: null
                  - uid: 6a829991-c5ed-4abf-9aa0-b96c92318f14
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: DEPOSIT
                    hash: 5d3c0e049cd9d43c136b479f4c26f49582df74b34894ed2b88313232b7fdfe18
                    confirmation: 6
                    depositId: fa34656c-f37c-4519-ad98-2aba656082c3
                    transferId: null
                    address: tb1qsjrjq7y8k47uc3ts7073h3s8empxzwf55gs6uv
                    fromAddress: ''
                    transactionRef: TRX-2Ezphvzv$R9A2zCgafqFYKDkk3Cj#R
                    description: null
                    amount: 1.0e-05
                    dollarRate: 16638.67
                    dollarAmount: 0.1663867
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-11-17T20:06:52.799Z'
                    updatedAt: '2022-11-17T20:34:57.895Z'
                    completedAt: '2022-11-17T20:34:57.895Z'
                    cancelledAt: null
                  - uid: 1b334602-694d-4939-83d9-8af00f9cc687
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: FEE
                    hash: 590a1eed4234471897402019a352676099ffc33f048617bf5a740f408fbfc517
                    confirmation: 1
                    depositId: null
                    transferId: 95323f3c-2de8-48ba-9438-4a98b89dc130
                    address: n4ZhTVfiUUn9uSgDg5RA28wMT3EJ3fJ2pp
                    fromAddress: null
                    transactionRef: BTP-QFG87evrwFuqBzZa$jw2l4H4xryFFo-fee
                    description: Transaction fee
                    amount: 8.125e-05
                    dollarRate: 44043.52
                    dollarAmount: 3.578536
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-02-09T18:25:23.605Z'
                    updatedAt: '2022-02-11T00:04:15.420Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: fa40afaa-c4e1-462c-b19e-a4642dc5ff33
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: TRANSFER
                    hash: 590a1eed4234471897402019a352676099ffc33f048617bf5a740f408fbfc517
                    confirmation: 1
                    depositId: null
                    transferId: 95323f3c-2de8-48ba-9438-4a98b89dc130
                    address: n4ZhTVfiUUn9uSgDg5RA28wMT3EJ3fJ2pp
                    fromAddress: null
                    transactionRef: BTP-QFG87evrwFuqBzZa$jw2l4H4xryFFo
                    description: null
                    amount: 0.00015885
                    dollarRate: 44043.52
                    dollarAmount: 7
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2022-02-09T18:25:23.605Z'
                    updatedAt: '2023-05-04T11:12:38.241Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 4a7a21a8-693b-4085-8af6-f549ceaddb01
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: FEE
                    hash: 9065bafa0973b67aac7de3d4bda561e2f2812a8b6aadbbe71092f4c1cf6be5d1
                    confirmation: 0
                    depositId: null
                    transferId: ee33e2df-f0f8-450b-b8d6-fdebb7ddd108
                    address: ms9KK3br5kSYtHxsK1FXfkDHQT6imQ9iyD
                    fromAddress: null
                    transactionRef: BTP-RjPoWYymQU2mNePfJCYuz5VIO01KDV-fee
                    description: Transaction fee
                    amount: 1.145e-05
                    dollarRate: 36576.84
                    dollarAmount: 0.418804818
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2023-11-22T10:32:22.470Z'
                    updatedAt: '2023-11-22T11:15:16.906Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 1c3ae573-d01c-45ed-9f7e-8b1f502a04c2
                    status: SUCCESS
                    subStatus: SUCCESS
                    type: TRANSFER
                    hash: 9065bafa0973b67aac7de3d4bda561e2f2812a8b6aadbbe71092f4c1cf6be5d1
                    confirmation: 1
                    depositId: null
                    transferId: ee33e2df-f0f8-450b-b8d6-fdebb7ddd108
                    address: ms9KK3br5kSYtHxsK1FXfkDHQT6imQ9iyD
                    fromAddress: null
                    transactionRef: BTP-RjPoWYymQU2mNePfJCYuz5VIO01KDV
                    description: null
                    amount: 5.47e-06
                    dollarRate: 36576.84
                    dollarAmount: 0.2
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: null
                    errorMessage: null
                    createdAt: '2023-11-22T10:32:22.470Z'
                    updatedAt: '2023-11-22T11:15:16.886Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: 6cad6ded-159a-409a-a8a2-ca8693779f46
                    status: FAILED
                    subStatus: FAILED
                    type: TRANSFER
                    hash: null
                    confirmation: null
                    depositId: null
                    transferId: null
                    address: ms9KK3br5kSYtHxsK1FXfkDHQT6imQ9iyD
                    fromAddress: null
                    transactionRef: BTP-posnoaioyIbG3YbLGy5pIHKULH676n
                    description: null
                    amount: 8.894e-05
                    dollarRate: 33731.0300000468
                    dollarAmount: 3
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: Could not complete the transaction
                    errorMessage: Could not complete the transaction
                    createdAt: '2023-10-24T15:30:03.385Z'
                    updatedAt: '2023-10-24T15:30:07.491Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: c3041537-35cb-4b07-bebb-239ad56d92fa
                    status: FAILED
                    subStatus: ERROR
                    type: TRANSFER
                    hash: null
                    confirmation: 0
                    depositId: null
                    transferId: null
                    address: mjnG5NQmA1YPdK2xBzBrBKgpHxFb2obQSm
                    fromAddress: mjnG5NQmA1YPdK2xBzBrBKgpHxFb2obQSm
                    transactionRef: BTP-86U9V2nrdcgIzIpyns7rc3esPADI#6
                    description: Testing Here
                    amount: 1.0e-05
                    dollarRate: 68889.35
                    dollarAmount: 0.69
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: '"Transaction signature process failed with error: Amount available is lower than amount
                      to send out: Available 0 Sending:0.00001 "'
                    errorMessage: '"Transaction signature process failed with error: Amount available is lower than amount
                      to send out: Available 0 Sending:0.00001 "'
                    createdAt: '2024-03-05T15:10:07.113Z'
                    updatedAt: '2024-03-05T15:10:11.857Z'
                    completedAt: null
                    cancelledAt: null
                  - uid: dc01d799-cae0-49fa-bba8-b0428839fe09
                    status: FAILED
                    subStatus: ERROR
                    type: TRANSFER
                    hash: null
                    confirmation: 0
                    depositId: null
                    transferId: null
                    address: mjnG5NQmA1YPdK2xBzBrBKgpHxFb2obQSm
                    fromAddress: mjnG5NQmA1YPdK2xBzBrBKgpHxFb2obQSm
                    transactionRef: BTP-zq4ULe5TXivNv8DO$EzLXe0ntlV7Bf
                    description: Testing Here
                    amount: 1.0e-05
                    dollarRate: 68454.075
                    dollarAmount: 0.68
                    assetId: 564ae50d-7285-417d-96aa-c8b99b06467a
                    assetType: BTC
                    chain: BITCOIN
                    organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                    errorReason: '"Transaction signature process failed with error: Amount available is lower than amount
                      to send out: Available 0 Sending:0.00001 "'
                    errorMessage: '"Transaction signature process failed with error: Amount available is lower than amount
                      to send out: Available 0 Sending:0.00001 "'
                    createdAt: '2024-03-08T23:28:34.107Z'
                    updatedAt: '2024-03-08T23:28:54.494Z'
                    completedAt: null
                    cancelledAt: null
      deprecated: false
      security:
      - bearer: []
    get:
      tags:
      - Assets
      summary: Get assets accounts
      description: This endpoint returns all assets in an account/wallet
      operationId: Getassetsaccounts
      parameters:
      - name: accountId
        in: query
        description: The uid of the account/wallet you want to get assets.
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: gjhsj-nbsjbhsk-kjbhgshjs
      - name: page
        in: query
        description: The page offset
        required: false
        style: form
        schema:
          type: number
          example: 1
      - name: perPage
        in: query
        description: The number of assets per request.
        required: false
        style: form
        schema:
          type: number
          example: 6
      - name: orderBy
        in: query
        description: Sort assets by asc or desc.
        required: false
        style: form
        schema:
          type: string
          example: asc
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                title: Getassetsaccounts
                required:
                - status
                - page
                - totalPages
                - data
                type: object
                properties:
                  status:
                    type: string
                  page:
                    type: integer
                    format: int32
                  totalPages:
                    type: integer
                    format: int32
                  data:
                    type: array
                    items:
                      title: Data4
                      required:
                      - uid
                      - label
                      - isDeleted
                      - isArchived
                      - organizationId
                      - accountId
                      - assetType
                      - network
                      - mode
                      - enableAutoForwarding
                      - autoForwardAddress
                      - createdAt
                      - balance
                      type: object
                      properties:
                        uid:
                          type: string
                        label:
                          type: string
                        isDeleted:
                          type: boolean
                        isArchived:
                          type: boolean
                        organizationId:
                          type: string
                        accountId:
                          type: string
                        assetType:
                          type: string
                        network:
                          type: string
                        mode:
                          type: string
                        enableAutoForwarding:
                          type: boolean
                        autoForwardAddress:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                        balance:
                          title: Balance
                          required:
                          - received
                          - sent
                          - balance
                          - pending
                          - blocked
                          type: object
                          properties:
                            received:
                              type: string
                            sent:
                              type: string
                            balance:
                              type: string
                            pending:
                              type: string
                            blocked:
                              type: string
                          example:
                            received: '0.00'
                            sent: '0.00'
                            balance: '0.00'
                            pending: '0.00'
                            blocked: '0.00'
                      example:
                        uid: 49e090c7-1570-4bd1-8710-20e7139b34f5
                        label: Litecoin
                        isDeleted: false
                        isArchived: false
                        organizationId: 91f55ca6-c413-4ee8-9c4e-197bf9533350
                        accountId: bfbb4394-fd3b-4054-a821-42b6e7827194
                        assetType: LTC
                        network: TESTNET
                        mode: TEST
                        enableAutoForwarding: false
                        autoForwardAddress: null
                        createdAt: '2021-08-18T17:16:35.926Z'
                        balance:
                          received: '0.00'
                          sent: '0.00'
                          balance: '0.00'
                          pending: '0.00'
                          blocked: '0.00'
                    description: ''
                example:
                  status: success
                  page: 1
                  totalPages: 1
                  data:
                  - uid: 1a14df95-9c66-4966-9968-13416f472ba0
                    label: Bitcoin
                    isDeleted: false
                    isArchived: false
                    organizationId: 91f55ca6-c413-4ee8-9c4e-197bf9533350
                    accountId: bfbb4394-fd3b-4054-a821-42b6e7827194
                    assetType: BTC
                    network: TESTNET
                    mode: TEST
                    enableAutoForwarding: false
                    autoForwardAddress: null
                    createdAt: '2021-08-18T17:04:27.831Z'
                    balance:
                      received: '2086.03'
                      sent: '0.00'
                      balance: '2086.03'
                      pending: '48.17'
                      blocked: '0.00'
                  - uid: 49e090c7-1570-4bd1-8710-20e7139b34f5
                    label: Litecoin
                    isDeleted: false
                    isArchived: false
                    organizationId: 91f55ca6-c413-4ee8-9c4e-197bf9533350
                    accountId: bfbb4394-fd3b-4054-a821-42b6e7827194
                    assetType: LTC
                    network: TESTNET
                    mode: TEST
                    enableAutoForwarding: false
                    autoForwardAddress: null
                    createdAt: '2021-08-18T17:16:35.926Z'
                    balance:
                      received: '27.77'
                      sent: '0.00'
                      balance: '27.77'
                      pending: '0.00'
                      blocked: '0.00'
              example:
                status: success
                page: 1
                totalPages: 2
                data:
                - uid: 564ae50d-7285-417d-96aa-c8b99b06467a
                  guid: 5da79336-49a6-4cf0-b056-f8c9e38a0b63
                  label: Bitcoin
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: BITCOIN
                  network: TESTNET
                  mode: TEST
                  assetType: BTC
                  autoForwardAddress: null
                  createdAt: '2021-12-12T15:15:56.266Z'
                  balance:
                    received: '0.00334066'
                    sent: '0.00001692'
                    balance: '0.00332374'
                    pending: '0.0'
                    blocked: '0'
                - uid: 43c6b802-cd3d-4ccc-acbc-cbd0d5c956d4
                  guid: 3d897193-aeca-4280-a3de-a4e70df98e5a
                  label: Bitcoin Cash
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: BITCOINCASH
                  network: TESTNET
                  mode: TEST
                  assetType: BCH
                  autoForwardAddress: null
                  createdAt: '2021-12-14T07:07:27.129Z'
                  balance:
                    received: '0.0'
                    sent: '0.0'
                    balance: '0.0'
                    pending: '0.0'
                    blocked: '0.0'
                - uid: 208423b4-ad4f-4146-84f0-e1982192b1c8
                  guid: 2df525d7-f15c-41ca-ace4-4b03ee79b59e
                  label: Litecoin
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: LITECOIN
                  network: TESTNET
                  mode: TEST
                  assetType: LTC
                  autoForwardAddress: null
                  createdAt: '2021-12-17T12:33:42.754Z'
                  balance:
                    received: '0.133702'
                    sent: '0.06763646'
                    balance: '0.06606554'
                    pending: '0.0'
                    blocked: '0'
                - uid: d8653877-fb96-4523-81b1-e51c0d161d23
                  guid: e95e95b8-cd23-43e3-b40b-a5298c82b27b
                  label: Ethereum
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: ETHEREUM
                  network: TESTNET
                  mode: TEST
                  assetType: ETH
                  autoForwardAddress: null
                  createdAt: '2021-12-17T12:37:25.636Z'
                  balance:
                    received: '0.23543357'
                    sent: '0.235370895066691006'
                    balance: '0.000062674933308994'
                    pending: '0.0'
                    blocked: '0'
                - uid: 85ebb683-7f17-4098-89f2-683e4bb8dd6f
                  guid: ae790f48-7434-4112-8021-7a4e6bfe8c81
                  label: BNB (BSC)
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: BSC
                  network: TESTNET
                  mode: TEST
                  assetType: BSC
                  autoForwardAddress: null
                  createdAt: '2022-01-26T17:28:34.290Z'
                  balance:
                    received: '0.0'
                    sent: '0.0'
                    balance: '0.0'
                    pending: '0.0'
                    blocked: '0.0'
                - uid: ce5d4fe0-407c-4d39-80bd-07c9027ceaca
                  guid: e012a523-0236-41d2-b5bd-2316fb88bcc5
                  label: Tron (TRX)
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: TRON
                  network: TESTNET
                  mode: TEST
                  assetType: TRON
                  autoForwardAddress: null
                  createdAt: '2022-01-26T17:28:51.711Z'
                  balance:
                    received: '55.422050'
                    sent: '54.331273'
                    balance: '1.090777'
                    pending: '0.0'
                    blocked: '0'
                - uid: 62123e6d-dfe5-4ca9-8fcd-653ead5938f1
                  guid: 4643099f-5e2b-47bf-b7ab-29dbab53954b
                  label: Matic
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: POLYGON
                  network: TESTNET
                  mode: TEST
                  assetType: MATIC
                  autoForwardAddress: null
                  createdAt: '2022-01-26T17:29:08.155Z'
                  balance:
                    received: '0.32947691'
                    sent: '0.326090521763289924'
                    balance: '0.003386388236710076'
                    pending: '0.0'
                    blocked: '0'
                - uid: 770d2ea6-2d6b-4b08-aa35-ea2358e77ba9
                  guid: 78878a41-b59b-4878-a2ec-35570c084ad2
                  label: TUSDC (MATIC)
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: POLYGON
                  network: TESTNET
                  mode: TEST
                  assetType: TUSDC_MATIC
                  autoForwardAddress: null
                  createdAt: '2022-07-04T09:53:54.238Z'
                  balance:
                    received: '24391.98'
                    sent: '22211.09340773'
                    balance: '2180.88659227'
                    pending: '0.0'
                    blocked: '0'
                - uid: f49f0653-68e5-42f5-b57a-12c0d5779f30
                  guid: 7368a132-726c-4f1f-8ab0-155a27bc8031
                  label: Celo
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: CELO
                  network: TESTNET
                  mode: TEST
                  assetType: CELO
                  autoForwardAddress: null
                  createdAt: '2022-08-23T09:09:04.886Z'
                  balance:
                    received: '3.24393581'
                    sent: '1.38923151'
                    balance: '1.85470430'
                    pending: '0.0'
                    blocked: '0'
                - uid: c88e0db3-9015-4cdb-81ab-e62b8e64a49c
                  guid: fe360001-3833-4937-aa1e-ada4bdb667e8
                  label: Solana
                  isDeleted: false
                  isArchived: false
                  isContract: false
                  chain: SOLANA
                  network: TESTNET
                  mode: TEST
                  assetType: SOL
                  autoForwardAddress: null
                  createdAt: '2022-09-02T02:57:30.433Z'
                  balance:
                    received: '0.0'
                    sent: '0.0'
                    balance: '0.0'
                    pending: '0.0'
                    blocked: '0.0'
      deprecated: false
      security:
      - bearer: []
  /addresses/add_trustline:
    post:
      tags:
      - Address
      summary: Add Trustline Assets
      description: This endpoint enables trustline assets on Stellar blockchains
      operationId: addtrustlineassets
      parameters: []
      requestBody:
        content:
          application/json:
            encoding: {}
            schema:
              required:
              - address
              - assetCode
              type: object
              properties:
                address:
                  type: string
                  description: The address you want to enable trustline assets on
                  example: GD....
                feePayer:
                  type: string
                  description: Optional address to pay for the transaction fee
                  example: GD......
                assetCode:
                  type: string
                  description: The asset code of the trustline assets. E.g TUSDC_XLM, USDC_XLM, EURC_XLM
                  example: USDC_XLM
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                title: addtrustlineassets
                required:
                - status
                type: object
                properties:
                  status:
                    type: string
                example:
                  status: success
              example:
                status: success
      deprecated: false
      security:
      - bearer: []
  /auth:
    get:
      tags:
      - Others
      summary: Get authentication info
      description: This endpoint returns information about your authentication status.
      operationId: auth
      parameters: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json; charset=utf-8:
              example:
                status: success
                mode: TEST
                data:
                  orgId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                  mode: TEST
      deprecated: false
      security:
      - bearer: []
  /accounts:
    post:
      tags:
      - Account
      summary: Create accounts
      description: This endpoint creates an account
      operationId: Createaccounts
      parameters: []
      requestBody:
        content:
          application/json:
            encoding: {}
            schema:
              required:
              - name
              - passphrase
              type: object
              properties:
                name:
                  type: string
                  description: The name of the account/wallet you want to create.
                  example: TEST  jan 19
                passphrase:
                  type: string
                  description: Something simillar to a passowrd for your wallet/account.
                  example: ioetdf0isd08
                type:
                  type: string
                  description: Could be DEFAULT/SELF_CUSTODY/SAVINGS/EXCHANGES
                  example: DEFAULT
                showInDashboard:
                  type: boolean
                  description: Choose whether to show account/wallet in dashboard
                  example: false
                assets:
                  type: string
                  description: arrays of assets you want to add to your account/wallet
                  example: BTC
                externalId:
                  type: string
                  description: The external unique id / random generated string
                  example: BTC
                email:
                  type: string
                  description: required only for SELF_CUSTODY type
                  example: BTC
        required: false
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security:
      - bearer: []
    get:
      tags:
      - Account
      summary: Get account
      description: This endpoint returns all user's accounts/wallets
      operationId: Getaccount
      parameters:
      - name: perPage
        in: query
        description: The number of accounts per request.
        required: false
        style: form
        schema:
          type: number
          example: 1
      - name: page
        in: query
        description: The page offset
        required: false
        style: form
        schema:
          type: number
          example: 1
      - name: orderBy
        in: query
        description: Sort accounts by asc or desc.
        required: false
        style: form
        schema:
          type: string
          example: asc
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: Data9
                required:
                - uid
                - name
                - externalId
                - isDeleted
                - isArchived
                - organizationId
                - network
                - createdAt
                - updatedAt
                - mode
                - accountId
                type: object
                properties:
                  uid:
                    type: string
                  name:
                    type: string
                  externalId:
                    type: string
                  network:
                    type: string
                  mode:
                    type: string
                  isArchived:
                    type: boolean
                  isDeleted:
                    type: boolean
                  organizationId:
                    type: string
                  updatedAt:
                    type: string
                    nullable: true
                  createdAt:
                    type: string
                  Address:
                    type: array
                example:
                  uid: e4a169a9-c8cb-4222-b046-505c24dd6dc7
                  name: Address Testing
                  externalId: 9cf60605-afdc-48b4-bd65-d836cffbfb74-23456
                  isDeleted: false
                  isArchived: false
                  organizationId: 93d65302-f671-4ec6-9c55-f2b0af3bc874
                  network: TESTNET
                  createdAt: '2023-12-09T14:45:43.244Z'
                  updatedAt: '2023-12-09T14:45:43.245Z'
                  mode: TEST
                  accountId: c4877f32-242b-462c-8de1-1d77ca4e8736
              example:
                status: success
                page: 1
                totalPages: 3
                data:
                - uid: d2acaff2-554d-4a7e-8c60-a3f8105c9f32
                  externalId: null
                  fiatCurrency: USD
                  name: 'Bitpowr '
                  type: DEFAULT
                  showInDashboard: true
                  isDeleted: false
                  isArchived: false
                  organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                  network: TESTNET
                  createdAt: '2021-12-12T14:47:45.991Z'
                  mode: TEST
                  maxDailyAmount: 1000
                  maxMonthlyAmount: 100000
                  maxDailyTransactionsCount: 399
                  maxMonthlyTransactionsCount: 1000
                  whiteListAddresses: null
                  asset:
                  - uid: 564ae50d-7285-417d-96aa-c8b99b06467a
                    guid: 5da79336-49a6-4cf0-b056-f8c9e38a0b63
                    label: Bitcoin
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BITCOIN
                    network: TESTNET
                    mode: TEST
                    assetType: BTC
                    autoForwardAddress: null
                    createdAt: '2021-12-12T15:15:56.266Z'
                    balance:
                      received: '0.00334066'
                      sent: '0.00001692'
                      balance: '0.00332374'
                      pending: '0.0'
                      blocked: '0'
                  - uid: 43c6b802-cd3d-4ccc-acbc-cbd0d5c956d4
                    guid: 3d897193-aeca-4280-a3de-a4e70df98e5a
                    label: Bitcoin Cash
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BITCOINCASH
                    network: TESTNET
                    mode: TEST
                    assetType: BCH
                    autoForwardAddress: null
                    createdAt: '2021-12-14T07:07:27.129Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 208423b4-ad4f-4146-84f0-e1982192b1c8
                    guid: 2df525d7-f15c-41ca-ace4-4b03ee79b59e
                    label: Litecoin
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: LITECOIN
                    network: TESTNET
                    mode: TEST
                    assetType: LTC
                    autoForwardAddress: null
                    createdAt: '2021-12-17T12:33:42.754Z'
                    balance:
                      received: '0.133702'
                      sent: '0.06763646'
                      balance: '0.06606554'
                      pending: '0.0'
                      blocked: '0'
                  - uid: d8653877-fb96-4523-81b1-e51c0d161d23
                    guid: e95e95b8-cd23-43e3-b40b-a5298c82b27b
                    label: Ethereum
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: ETHEREUM
                    network: TESTNET
                    mode: TEST
                    assetType: ETH
                    autoForwardAddress: null
                    createdAt: '2021-12-17T12:37:25.636Z'
                    balance:
                      received: '0.23543357'
                      sent: '0.235370895066691006'
                      balance: '0.000062674933308994'
                      pending: '0.0'
                      blocked: '0'
                  - uid: 85ebb683-7f17-4098-89f2-683e4bb8dd6f
                    guid: ae790f48-7434-4112-8021-7a4e6bfe8c81
                    label: BNB (BSC)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BSC
                    network: TESTNET
                    mode: TEST
                    assetType: BSC
                    autoForwardAddress: null
                    createdAt: '2022-01-26T17:28:34.290Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: ce5d4fe0-407c-4d39-80bd-07c9027ceaca
                    guid: e012a523-0236-41d2-b5bd-2316fb88bcc5
                    label: Tron (TRX)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: TRON
                    network: TESTNET
                    mode: TEST
                    assetType: TRON
                    autoForwardAddress: null
                    createdAt: '2022-01-26T17:28:51.711Z'
                    balance:
                      received: '55.422050'
                      sent: '54.331273'
                      balance: '1.090777'
                      pending: '0.0'
                      blocked: '0'
                  - uid: 62123e6d-dfe5-4ca9-8fcd-653ead5938f1
                    guid: 4643099f-5e2b-47bf-b7ab-29dbab53954b
                    label: Matic
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: POLYGON
                    network: TESTNET
                    mode: TEST
                    assetType: MATIC
                    autoForwardAddress: null
                    createdAt: '2022-01-26T17:29:08.155Z'
                    balance:
                      received: '0.32947691'
                      sent: '0.326090521763289924'
                      balance: '0.003386388236710076'
                      pending: '0.0'
                      blocked: '0'
                  - uid: 770d2ea6-2d6b-4b08-aa35-ea2358e77ba9
                    guid: 78878a41-b59b-4878-a2ec-35570c084ad2
                    label: TUSDC (MATIC)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: POLYGON
                    network: TESTNET
                    mode: TEST
                    assetType: TUSDC_MATIC
                    autoForwardAddress: null
                    createdAt: '2022-07-04T09:53:54.238Z'
                    balance:
                      received: '24391.98'
                      sent: '22211.09340773'
                      balance: '2180.88659227'
                      pending: '0.0'
                      blocked: '0'
                  - uid: f49f0653-68e5-42f5-b57a-12c0d5779f30
                    guid: 7368a132-726c-4f1f-8ab0-155a27bc8031
                    label: Celo
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: CELO
                    network: TESTNET
                    mode: TEST
                    assetType: CELO
                    autoForwardAddress: null
                    createdAt: '2022-08-23T09:09:04.886Z'
                    balance:
                      received: '3.24393581'
                      sent: '1.38923151'
                      balance: '1.85470430'
                      pending: '0.0'
                      blocked: '0'
                  - uid: c88e0db3-9015-4cdb-81ab-e62b8e64a49c
                    guid: fe360001-3833-4937-aa1e-ada4bdb667e8
                    label: Solana
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: SOLANA
                    network: TESTNET
                    mode: TEST
                    assetType: SOL
                    autoForwardAddress: null
                    createdAt: '2022-09-02T02:57:30.433Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 9b463c2a-cf6b-49fa-9583-b805f39c02ef
                    guid: 205f7452-385d-4caf-b09a-5e9ba6c73de3
                    label: TUSDC (ETH)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: ETHEREUM
                    network: TESTNET
                    mode: TEST
                    assetType: TUSDC_ETH
                    autoForwardAddress: null
                    createdAt: '2022-09-23T03:12:22.010Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 12376842-3e74-4261-b266-9eb53210531f
                    guid: df055b45-e39d-44f4-8e33-b81ace5862a2
                    label: Stellar
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: STELLAR
                    network: TESTNET
                    mode: TEST
                    assetType: XLM
                    autoForwardAddress: null
                    createdAt: '2023-04-10T08:07:41.728Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 4fe3af17-a3a1-4d18-971f-f95dabad1e19
                    guid: cc497666-b58b-4606-98dd-22ff47ef1163
                    label: TUSDC (SOL)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: SOLANA
                    network: TESTNET
                    mode: TEST
                    assetType: TUSDC_SOL
                    autoForwardAddress: null
                    createdAt: '2023-04-10T08:15:36.229Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: c7ad98f9-a9ad-46eb-bb92-e30f27aa9967
                    guid: ea7c29d7-dd07-4e77-b2bf-d9ca87b824e7
                    label: TEURC (XLM)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: STELLAR
                    network: TESTNET
                    mode: TEST
                    assetType: TEURC_XLM
                    autoForwardAddress: null
                    createdAt: '2023-04-10T11:37:41.556Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: c87de11f-46f1-4906-8e82-9481623c053c
                    guid: dfa42a22-7a0d-4cf4-aebb-87cca07cba49
                    label: TUSDC (XLM)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: STELLAR
                    network: TESTNET
                    mode: TEST
                    assetType: TUSDC_XLM
                    autoForwardAddress: null
                    createdAt: '2024-01-11T07:17:29.124Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: f28fc50c-3ac3-41b2-8d3e-7964be7e3503
                    guid: d94e0b80-a23f-40c3-8d0e-b84b45f34806
                    label: Arbitrum - ETH
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: ARBITRUM
                    network: TESTNET
                    mode: TEST
                    assetType: ETH_ARB
                    autoForwardAddress: null
                    createdAt: '2024-01-16T15:11:24.368Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 42ef1363-4308-4b43-a174-3fe74977d8fd
                    guid: 2c850f4c-59f5-4b97-a1a5-9c88174a2a9c
                    label: TUSDC (TRX)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: TRON
                    network: TESTNET
                    mode: TEST
                    assetType: TUSDC_TRON
                    autoForwardAddress: null
                    createdAt: '2024-01-16T15:12:34.669Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  fiatBalance:
                    received: '25344.08'
                    sent: '22947.10'
                    balance: '2396.99'
                    pending: '0.00'
                    blocked: '0.00'
                - uid: e95836d1-f496-447a-bbc0-d975d85a1c13
                  externalId: null
                  fiatCurrency: USD
                  name: Enza Capital
                  type: DEFAULT
                  showInDashboard: true
                  isDeleted: false
                  isArchived: false
                  organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                  network: TESTNET
                  createdAt: '2021-12-15T13:41:33.211Z'
                  mode: TEST
                  maxDailyAmount: 50
                  maxMonthlyAmount: 100000
                  maxDailyTransactionsCount: 5
                  maxMonthlyTransactionsCount: 1000
                  whiteListAddresses: null
                  asset:
                  - uid: 3bf73934-1e21-4ed1-ab15-eb74fb4eab5f
                    guid: 3d37aeda-8d6e-400d-8a7c-ca90ace31229
                    label: Bitcoin Cash
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BITCOINCASH
                    network: TESTNET
                    mode: TEST
                    assetType: BCH
                    autoForwardAddress: null
                    createdAt: '2021-12-15T13:42:19.223Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 794b7c46-b9ea-4467-bf13-e4b985c294c1
                    guid: ff1b8e6a-47f6-4087-98fb-d15d6cd0266f
                    label: Bitcoin
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BITCOIN
                    network: TESTNET
                    mode: TEST
                    assetType: BTC
                    autoForwardAddress: null
                    createdAt: '2021-12-15T13:42:29.030Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 2326436d-2443-4f81-aa48-637a42c918a7
                    guid: 8518d60b-ea36-4f09-a690-0426488c53f9
                    label: Celo
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: CELO
                    network: TESTNET
                    mode: TEST
                    assetType: CELO
                    autoForwardAddress: null
                    createdAt: '2022-09-22T21:09:12.047Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: b5bd7d71-85fe-4410-9e35-d20b087ec1ce
                    guid: aea0fb5b-b2f0-4fd9-90ad-6c2099c4363b
                    label: BNB (BSC)
                    isDeleted: false
                    isArchived: false
                    isContract: true
                    chain: BSC
                    network: TESTNET
                    mode: TEST
                    assetType: BSC
                    autoForwardAddress: null
                    createdAt: '2022-11-25T16:50:27.665Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: f7893ba3-b92d-4cf4-9cca-f2062406de34
                    guid: 09b25adf-525f-411b-b8f7-d55c5cc8dead
                    label: Stellar
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: STELLAR
                    network: TESTNET
                    mode: TEST
                    assetType: XLM
                    autoForwardAddress: null
                    createdAt: '2022-12-01T14:54:03.666Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: fc932285-3efa-4cdb-bdb7-73f889743b4a
                    guid: 0da8b224-1a27-4565-baa0-2e83d9a0b4cc
                    label: TUSDC (XLM)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: STELLAR
                    network: TESTNET
                    mode: TEST
                    assetType: TUSDC_XLM
                    autoForwardAddress: null
                    createdAt: '2023-02-27T08:43:00.622Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 33ec3f01-b503-475f-b721-89272c3b5ee1
                    guid: 35dac59e-d552-4d6b-8976-51caad4663d7
                    label: Litecoin
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: LITECOIN
                    network: TESTNET
                    mode: TEST
                    assetType: LTC
                    autoForwardAddress: null
                    createdAt: '2023-04-14T13:37:32.206Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: dd7944a5-d78a-4888-8aa1-13a3fed421e4
                    guid: 4431d76b-2672-4d6f-ae92-a5f9fd4ccd20
                    label: Matic
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: POLYGON
                    network: TESTNET
                    mode: TEST
                    assetType: MATIC
                    autoForwardAddress: null
                    createdAt: '2023-05-30T15:50:43.915Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: ef841a8a-d669-401d-9158-28d0f854cb06
                    guid: d60a5580-2b78-4442-a0ce-ee362ae503e8
                    label: Ethereum
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: ETHEREUM
                    network: TESTNET
                    mode: TEST
                    assetType: ETH
                    autoForwardAddress: null
                    createdAt: '2021-12-15T13:42:01.546Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: d16fb7fc-ad52-49e7-ab9d-5d06eebbd5c1
                    guid: a4aba2b4-d9db-4021-bf00-bb8a6fea2cd7
                    label: Avalanche
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: AVALANCHE
                    network: TESTNET
                    mode: TEST
                    assetType: AVAX
                    autoForwardAddress: null
                    createdAt: '2024-02-02T00:02:09.360Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  fiatBalance:
                    received: '0.00'
                    sent: '0.00'
                    balance: '0.00'
                    pending: '0.00'
                    blocked: '0.00'
                - uid: 6f830f92-32d9-4cd3-a564-28f2ab7e4709
                  externalId: null
                  fiatCurrency: USD
                  name: Bimpe
                  type: DEFAULT
                  showInDashboard: true
                  isDeleted: false
                  isArchived: false
                  organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                  network: TESTNET
                  createdAt: '2021-12-15T13:41:43.362Z'
                  mode: TEST
                  maxDailyAmount: 10000
                  maxMonthlyAmount: 100000
                  maxDailyTransactionsCount: 100
                  maxMonthlyTransactionsCount: 1000
                  whiteListAddresses: null
                  asset:
                  - uid: 8a22109a-d1a4-4819-89fb-6449e4739292
                    guid: 0707a46c-f043-4997-b4df-50d373c27892
                    label: Bitcoin
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BITCOIN
                    network: TESTNET
                    mode: TEST
                    assetType: BTC
                    autoForwardAddress: null
                    createdAt: '2021-12-22T10:42:27.037Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: cff0e044-2b60-422f-95a9-8990b7b446a8
                    guid: 159af5d2-988e-4895-b732-3a1ccbc4fc66
                    label: Bitcoin Cash
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BITCOINCASH
                    network: TESTNET
                    mode: TEST
                    assetType: BCH
                    autoForwardAddress: null
                    createdAt: '2021-12-22T10:42:48.428Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: c8774f75-7ab6-44a8-abc9-205b2087864a
                    guid: 78c32506-2399-4862-af92-8b38b2385183
                    label: BNB (BSC)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BSC
                    network: TESTNET
                    mode: TEST
                    assetType: BSC
                    autoForwardAddress: null
                    createdAt: '2021-12-22T10:44:31.984Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 1dfcffae-bd6e-434d-947c-18394e700dd4
                    guid: 205826e8-2077-47e3-9fdd-d6b70783f5db
                    label: Litecoin
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: LITECOIN
                    network: TESTNET
                    mode: TEST
                    assetType: LTC
                    autoForwardAddress: null
                    createdAt: '2021-12-22T10:44:57.606Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 3cc934a0-c544-4cd4-8655-40832163e727
                    guid: 115c971d-ceef-40bb-8304-be87e7eca5c0
                    label: Matic
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: POLYGON
                    network: TESTNET
                    mode: TEST
                    assetType: MATIC
                    autoForwardAddress: null
                    createdAt: '2021-12-22T10:46:15.443Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 01cad424-70f1-42a2-b452-02c1d4c3fbfe
                    guid: 60949033-195c-44f3-96db-a347fcadbdae
                    label: Base
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BASE
                    network: TESTNET
                    mode: TEST
                    assetType: BASE
                    autoForwardAddress: null
                    createdAt: '2024-02-01T23:55:08.486Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  fiatBalance:
                    received: '0.00'
                    sent: '0.00'
                    balance: '0.00'
                    pending: '0.00'
                    blocked: '0.00'
                - uid: f422f7f8-23d5-4dd9-8a62-46c851ddddde
                  externalId: null
                  fiatCurrency: USD
                  name: EmTech
                  type: DEFAULT
                  showInDashboard: true
                  isDeleted: false
                  isArchived: false
                  organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                  network: TESTNET
                  createdAt: '2021-12-22T10:29:12.610Z'
                  mode: TEST
                  maxDailyAmount: 1000
                  maxMonthlyAmount: 100000
                  maxDailyTransactionsCount: 4
                  maxMonthlyTransactionsCount: 1000
                  whiteListAddresses: null
                  asset:
                  - uid: 10bbb08f-28ff-4b2e-89b6-eb9abd2337cd
                    guid: 9dd73574-44b5-401f-8c68-b7ad521198f9
                    label: Bitcoin
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BITCOIN
                    network: TESTNET
                    mode: TEST
                    assetType: BTC
                    autoForwardAddress: null
                    createdAt: '2022-10-24T13:26:15.969Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 4e5d0839-539a-4ae9-bb85-8739c2dd9acc
                    guid: aa2ef4d4-4d78-4812-887f-355487938683
                    label: BNB (BSC)
                    isDeleted: false
                    isArchived: false
                    isContract: true
                    chain: BSC
                    network: TESTNET
                    mode: TEST
                    assetType: BSC
                    autoForwardAddress: null
                    createdAt: '2022-11-02T11:43:15.851Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: d7ccdc3f-9660-4ef7-8307-1ec7eef689b1
                    guid: adc69483-1ae6-4157-816c-ebcda87401c5
                    label: Tron (TRX)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: TRON
                    network: TESTNET
                    mode: TEST
                    assetType: TRON
                    autoForwardAddress: null
                    createdAt: '2022-11-02T11:43:30.214Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: eaa6c53b-3f4b-4687-a9c9-1599fa2109c1
                    guid: 0ae9f968-5980-41a5-b72d-43f8c91867d8
                    label: Bantu
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BANTU
                    network: TESTNET
                    mode: TEST
                    assetType: XBN
                    autoForwardAddress: null
                    createdAt: '2022-11-02T11:43:41.639Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 4ecb059c-40a5-4652-a480-dcb2638bfea8
                    guid: 2e91ec78-31e7-4de3-8f23-ed1e2afdb706
                    label: cUSD
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: CELO
                    network: TESTNET
                    mode: TEST
                    assetType: CUSD
                    autoForwardAddress: null
                    createdAt: '2022-11-02T11:43:53.877Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 923f6a7d-756a-405b-ae1f-41d27fd747fd
                    guid: 3e35fde8-432b-470e-a81c-9d4b4448eab2
                    label: Bitcoin Cash
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BITCOINCASH
                    network: TESTNET
                    mode: TEST
                    assetType: BCH
                    autoForwardAddress: null
                    createdAt: '2022-11-02T11:44:16.661Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 27fb58ec-f0a7-4565-b2f0-366d0a6f52b4
                    guid: 84725d83-7e0c-42a6-8e32-c186b7b895b0
                    label: Solana
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: SOLANA
                    network: TESTNET
                    mode: TEST
                    assetType: SOL
                    autoForwardAddress: null
                    createdAt: '2022-11-02T11:44:32.582Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 3da9e683-b394-465b-97e6-270f4a8d129f
                    guid: c87cf720-609d-4be5-acc6-7127e388fc39
                    label: TUSDC (MATIC)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: POLYGON
                    network: TESTNET
                    mode: TEST
                    assetType: TUSDC_MATIC
                    autoForwardAddress: null
                    createdAt: '2023-01-06T05:58:01.429Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 9bd7d2ef-23e2-4302-87a2-57a29c0f60ff
                    guid: fde7f770-2245-4a85-bc28-41bb63c4e972
                    label: MATIC Asset
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: POLYGON
                    network: TESTNET
                    mode: TEST
                    assetType: MATIC
                    autoForwardAddress: null
                    createdAt: '2023-01-06T06:03:25.521Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 04398625-94f3-4f1b-a85e-0ea263e44117
                    guid: 3317dded-5f34-4851-bc46-929b6ae0a0da
                    label: TUSDC (ETH)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: ETHEREUM
                    network: TESTNET
                    mode: TEST
                    assetType: TUSDC_ETH
                    autoForwardAddress: null
                    createdAt: '2022-11-02T11:43:02.381Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: b4949eed-d19d-46c5-9153-8f5e3d3c39c4
                    guid: c36148af-b838-4be4-b564-faf618a72a0a
                    label: Ethereum
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: ETHEREUM
                    network: TESTNET
                    mode: TEST
                    assetType: ETH
                    autoForwardAddress: null
                    createdAt: '2022-11-13T18:51:26.193Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  fiatBalance:
                    received: '0.00'
                    sent: '0.00'
                    balance: '0.00'
                    pending: '0.00'
                    blocked: '0.00'
                - uid: dc523667-f636-4c13-8b7e-f9d6c29fb1e9
                  externalId: null
                  fiatCurrency: USD
                  name: Samuel
                  type: DEFAULT
                  showInDashboard: true
                  isDeleted: false
                  isArchived: false
                  organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                  network: TESTNET
                  createdAt: '2022-01-19T17:45:23.130Z'
                  mode: TEST
                  maxDailyAmount: 10000
                  maxMonthlyAmount: 100000
                  maxDailyTransactionsCount: 100
                  maxMonthlyTransactionsCount: 1000
                  whiteListAddresses: null
                  asset:
                  - uid: 50ad9978-6fc3-43c4-a5c3-f10fd380eaab
                    guid: 2f67ab8c-703d-4d97-8863-52cc30d9284d
                    label: Bitcoin
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BITCOIN
                    network: TESTNET
                    mode: TEST
                    assetType: BTC
                    autoForwardAddress: null
                    createdAt: '2022-10-31T08:54:42.718Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 3230e8b8-e734-4723-9c38-d8f75a4258a0
                    guid: a512b5e0-b6c9-48fd-83d8-1ad8f3fe611b
                    label: BNB (BSC)
                    isDeleted: false
                    isArchived: false
                    isContract: true
                    chain: BSC
                    network: TESTNET
                    mode: TEST
                    assetType: BSC
                    autoForwardAddress: null
                    createdAt: '2023-09-05T12:26:53.589Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  fiatBalance:
                    received: '0.00'
                    sent: '0.00'
                    balance: '0.00'
                    pending: '0.00'
                    blocked: '0.00'
                - uid: 607a4225-b098-4c3c-bb27-4314324cf54a
                  externalId: df7bac9b-3614-4a60-8d84-4dd665a8dffc
                  fiatCurrency: USD
                  name: ViscoPay
                  type: DEFAULT
                  showInDashboard: true
                  isDeleted: false
                  isArchived: false
                  organizationId: 0ed32cca-14b2-4fd0-8221-bd1c4e752198
                  network: TESTNET
                  createdAt: '2022-04-22T22:31:40.858Z'
                  mode: TEST
                  maxDailyAmount: 120000
                  maxMonthlyAmount: 150000
                  maxDailyTransactionsCount: 100
                  maxMonthlyTransactionsCount: 800
                  whiteListAddresses: null
                  asset:
                  - uid: f13c976a-f388-49a4-a944-8f5cc330619a
                    guid: 27fa5b0a-bc94-4101-971d-353760feb333
                    label: TUSDC (MATIC)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: POLYGON
                    network: TESTNET
                    mode: TEST
                    assetType: TUSDC_MATIC
                    autoForwardAddress: null
                    createdAt: '2022-04-22T22:32:07.672Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 8444cd22-f1f6-43a5-a4a4-7ccaa7c159ff
                    guid: 0382f483-7fed-40fd-9575-7de94d6eb509
                    label: BNB (BSC)
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: BSC
                    network: TESTNET
                    mode: TEST
                    assetType: BSC
                    autoForwardAddress: null
                    createdAt: '2022-04-22T22:32:38.199Z'
                    balance:
                      received: '0.0'
                      sent: '0.0'
                      balance: '0.0'
                      pending: '0.0'
                      blocked: '0.0'
                  - uid: 621925a4-7b08-4cc2-a577-d5e761188b1f
                    guid: e58896fa-6015-4616-908b-d099ec585c54
                    label: MATIC Asset
                    isDeleted: false
                    isArchived: false
                    isContract: false
                    chain: POLYGON
                    network: TESTNET
                    mode: TEST
                    assetType: MATIC
                    autoForwardAddress: null
                    createdAt: '2022-04-22T22:42:28.675Z'
                    balance:
                      received: '0.0'
[...]
